﻿@model DatabaseConnector.Tables.Settings.Setting
@{
    ViewData["Title"] = "Create New Nav Setting";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveNewSetting">
            @Html.HiddenFor(m => m.ID)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Setting Name</label>
                <input asp-for="SettingName" class="form-control" />
                <span asp-validation-for="SettingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Order</label>
                <input asp-for="Order" type="number" class="form-control" />
                <span asp-validation-for="Order" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Action</label>
                <input asp-for="Action" class="form-control" />
                <span asp-validation-for="Action" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Setting Nav Name</label>
                <input asp-for="SettingNavName" class="form-control" />
                <span asp-validation-for="SettingNavName" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-primary p-1" />
              <a class="btn btn-secondary p-1" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>