﻿@model DatabaseConnector.Tables.Kennels.KennelPageField
@{
  ViewData["Title"] = "Kennel Field";
}
<h4>New Kennel Field</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="SaveKennelField">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="FieldTypeID" class="control-label"></label>
        @await Component.InvokeAsync("FieldType")
        <span asp-validation-for="FieldTypeID" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="FieldName" class="control-label"></label>
        <input asp-for="FieldName" class="form-control" />
        <span asp-validation-for="FieldName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <input type="button" value="Cancel" asp-action="Index" onclick="window.location.href = '/Settings'" class="btn btn-secondary p-1" />
      </div>
    </form>
  </div>
</div>