﻿@model DatabaseConnector.Tables.Users.UserMain
@{
  ViewData["Title"] = "Edit User Page";

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];

}
<h4>UserMain</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="UpdateUser">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @Html.HiddenFor(Model => Model.UserID)
      @Html.HiddenFor(Model => Model.Password)
      @Html.HiddenFor(Model => Model.Username)
      @Html.HiddenFor(Model => Model.ProfilePicture)
      @Html.HiddenFor(Model => Model.OrgStructureID)
      @Html.HiddenFor(Model => Model.UserPermissionId)
      <div class="form-group">
        <label asp-for="Firstname" class="control-label"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Surname" class="control-label"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Cellnumber" class="control-label"></label>
        <input asp-for="Cellnumber" class="form-control" />
        <span asp-validation-for="Cellnumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Address_Postal" class="control-label"></label>
        <input asp-for="Address_Postal" class="form-control" />
        <span asp-validation-for="Address_Postal" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
      </div>
      @if (userMain.isAdmin || userMain.isDeveloper)
      {
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="isAdmin" /> Is Admin User?
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="isDeveloper" /> Is Developer User?
          </label>
        </div>
      }
      else
      {
        @Html.HiddenFor(Model => Model.isAdmin)
        @Html.HiddenFor(Model => Model.isDeveloper)
      }
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="isKennel" /> Is Kennel User?
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="isBreeder" /> Is Breeder User?
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="isOwner" /> Is Owner User?
        </label>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="IsDeleted" /> User is Deleted?
        </label>
      </div>
      @if (userMain.UserPermission.EditPermissions || userMain.isAdmin || userMain.isDeveloper)
      {
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditBreederFields" /> Can Edit Breeder Fields
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditGlobalSettings" /> Can Edit Global Settings
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditKennelFields" /> Can Edit Kennel Fields
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditPedigreeFields" /> Can Edit Pedigree Fields
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditMenuNav" /> Can Edit Menu Navigations
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditPermissions" /> Can Edit Permissions
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.EditUsers" /> Can Edit Users
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.ViewAllKennels" /> Can View all Kennels
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.ViewAllBreeders" /> Can View all Breeders
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.ViewAllPedigrees" /> Can View all Pedigrees
          </label>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" asp-for="UserPermission.ViewAllUsers" /> Can View all Users
          </label>
        </div>
      }
      else
      {
        @Html.HiddenFor(Model => Model.UserPermission.EditBreederFields)
        @Html.HiddenFor(Model => Model.UserPermission.EditGlobalSettings)
        @Html.HiddenFor(Model => Model.UserPermission.EditKennelFields)
        @Html.HiddenFor(Model => Model.UserPermission.EditMenuNav)
        @Html.HiddenFor(Model => Model.UserPermission.EditPedigreeFields)
        @Html.HiddenFor(Model => Model.UserPermission.EditPermissions)
        @Html.HiddenFor(Model => Model.UserPermission.EditUsers)
        @Html.HiddenFor(Model => Model.UserPermission.ViewAllBreeders)
        @Html.HiddenFor(Model => Model.UserPermission.ViewAllKennels)
        @Html.HiddenFor(Model => Model.UserPermission.ViewAllPedigrees)
        @Html.HiddenFor(Model => Model.UserPermission.ViewAllUsers)
      }
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <a asp-action="Index" class="btn btn-secondary p-1">Cancel</a>
      </div>
    </form>
  </div>
</div>