﻿@{
  ViewData["Title"] = "Settings Page";

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];

}
<ul class="nav nav-tabs" style="margin: 19px 0px 18px; visibility: visible;">
  @if (userMain.UserPermission.EditMenuNav)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#menu">Menu Navigation</a></li>
  }
  @if (userMain.UserPermission.EditKennelFields)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#kennelfields">Kennel Fields</a></li>
  }
  @if (userMain.UserPermission.EditBreederFields)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#breederfields">Breeder Fields</a></li>
  }
  @if (userMain.UserPermission.EditPedigreeFields)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#pedigreefields">Pedigree Fields</a></li>
  }
  @if (userMain.UserPermission.EditGlobalSettings)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#globalsettings">Global Settings</a></li>
  }
  @if (userMain.UserPermission.EditPermissions)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#userpermissions">User Permissions</a></li>
  }
  @if (userMain.isDeveloper)
  {
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#systemsettings">System Settings</a></li>
    <li><a data-toggle="tab" class="btn btn-primary p-1" aria-expanded="true" href="#loggingfields">Application Logs</a></li>
  }
</ul>

<div class="tab-content">
  @if (userMain.UserPermission.EditMenuNav)
  {
    <div id="menu" class="tab-pane fade">
      <h3>Menu Navigation</h3>
      @await Component.InvokeAsync("SettingsMenuNav")
    </div>
  }

  @if (userMain.UserPermission.EditKennelFields)
  {
    <div id="kennelfields" class="tab-pane fade">
      <h3>Kennel Fields</h3>
      @await Component.InvokeAsync("KennelField")
    </div>
  }

  @if (userMain.UserPermission.EditBreederFields)
  {
    <div id="breederfields" class="tab-pane fade">
      <h3>Breeder Fields</h3>
      @await Component.InvokeAsync("BreederField")
    </div>
  }

  @if (userMain.UserPermission.EditPedigreeFields)
  {
    <div id="pedigreefields" class="tab-pane fade">
      <h3>Pedigree Fields</h3>
      @await Component.InvokeAsync("PedigreeFields")
    </div>
  }

  @if (userMain.UserPermission.EditGlobalSettings)
  {
    <div id="globalsettings" class="tab-pane fade">
      <h3>Global Settings</h3>
      @await Component.InvokeAsync("GlobalSettings")
    </div>
  }

  @if (userMain.isAdmin)
  {
    <div id="userpermissions" class="tab-pane fade">
      <h3>User Permissions</h3>
      @await Component.InvokeAsync("Permissions")
    </div>
  }

  @if (userMain.isDeveloper)
  {
    <div id="userpermissions" class="tab-pane fade">
      <h3>User Permissions</h3>
      @await Component.InvokeAsync("Permissions")
    </div>
    <div id="systemsettings" class="tab-pane fade">
      <h3>System Configurations</h3>
      @await Component.InvokeAsync("SystemSettings")
    </div>
    <div id="loggingfields" class="tab-pane fade">
      <h3>Application Logs</h3>
      @await Component.InvokeAsync("Error")
    </div>
  }
</div>

<script>
  $("li").on("click", function () {
    $("li").each(function () {
      $(this).removeClass("active");
    });
    $(this).addClass("active");
  });
</script>