﻿@model List<DatabaseConnector.Tables.Settings.Setting>
<div class="m-2">
  <a class="btn btn-primary p-1" style="color: white;" asp-action="Create">Create New</a>
</div>
<div>
  @if (Model.Count < 1)
  {
    <partial>
      @await Html.PartialAsync("Empty", "Settings")
    </partial>
  }
  else
  {
    @for (var i = 0; i < Model.Count; i++)
    {
      <h4>@Html.DisplayFor(model => model[i].SettingName)</h4>
      <hr />
      <dl class="row">
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model[i].Order)
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model[i].Order)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model[i].SettingNavName)
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model[i].SettingNavName)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model[i].To)
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model[i].To)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model[i].Action)
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model[i].Action)
        </dd>
        <dd>
          <div class="m-2">
            @Html.ActionLink("Edit", "Edit", new { SettingID = Model[i].ID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
            @Html.ActionLink("Delete", "Delete", new { SettingID = Model[i].ID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
          </div>
        </dd>
      </dl>
    }
  }
</div>