﻿@model DatabaseConnector.Tables.Configuration.SystemConfiguration

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveSystemSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => Model.ConfigID)
            <div class="form-group">
                <label asp-for="EmailFromAddress" class="control-label"></label>
                <input asp-for="EmailFromAddress" class="form-control" />
                <span asp-validation-for="EmailFromAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SMTPClient" class="control-label"></label>
                <input asp-for="SMTPClient" class="form-control" />
                <span asp-validation-for="SMTPClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorRedirectAction" class="control-label"></label>
                <input asp-for="ErrorRedirectAction" class="form-control" />
                <span asp-validation-for="ErrorRedirectAction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ErrorRedirectTo" class="control-label"></label>
                <input asp-for="ErrorRedirectTo" class="form-control" />
                <span asp-validation-for="ErrorRedirectTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteUrl" class="control-label"></label>
                <input asp-for="WebsiteUrl" class="form-control" />
                <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary p-1" style="color: white;" value="Save" />
              <input type="button" value="Cancel" asp-action="Index" onclick="window.location.href = '/Settings'" class="btn btn-primary p-1" />
            </div>
        </form>
    </div>
</div>