﻿@model List<DatabaseConnector.Tables.StatCards.StatCard>
@if (Model.Count < 1)
{
  @Html.Partial("Empty", "Clients")
}
else
{
  <div>
    <div class="row">
      @for (var i = 0; i < Model.Count; i++)
      {
        <div class="col-sm-4">
          @await Html.PartialAsync("../../../components/statcard.cshtml", Model[i])
        </div>
      }
    </div>
  </div>
}