﻿.vb-inline-2 {
  display: inline-block;
  width: 48%;
  padding: 4px;
  height: 100%;
}

.vb-inline-3 {
  display: inline-block;
  width: 33%;
  padding: 8px;
  height: 100%;
}

.vb-actions {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vb-primary {
  background-color: rgba(250, 250,250, 0.9);
}

.vb-secondary {
  background-color: rgba(125, 125, 125, 0.8);
}

.vb-input {
  width: 100%;
  padding: 4px;
  border-radius: 5px;
}

.vb-button .vb-ripple {
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vb-button.vb-raised:not([disabled]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.vb-button:not([disabled]) {
  cursor: pointer;
}

.vb-button-content {
  position: relative;
  z-index: 2;
}

.vb-button {
  min-width: 88px;
  height: 36px;
  margin: 6px 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.vb-ripple {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle,#fff 100%,#000 0);
}

.vb-error {
  color: red;
}

.modal {
  background: rgba(250, 250, 250, 0.8);
  text-align: center;
  padding: 0 !important;
}

  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
  }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav > li {
  position: relative;
  display: block;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav > li > a:focus, .nav > li > a:hover :not(.btn-secondary) {
  text-decoration: none;
  background-color: #eee;
}