﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  #app{
    width: 100vw !important;
  }

  .tableHidePhone{
    display: none !important;
  }

  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 25% !important;
    left: 0 !important;
    bottom: unset !important;
    right: 0;
    padding: 16px;
    border-radius: 4%;
    background: rgba(250, 250,250, 0.9);
  }

    .Absolute-Center.is-Responsive {
      width: 100% !important;
      min-width: 200px;
    }

  .popup_custom {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
  }

  .closeButton {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.closeButton {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  background-attachment: fixed;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Index Page */
.Login {
  width: 30%;
  left: 35%;
  position: absolute;
  top: 25%;
  padding: 16px;
  border-radius: 4%;
  background: rgba(250, 250,250, 0.9);
}

.vb-logo {
  width: 40px;
  height: 40px;
  background: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#app {
  width: 95vw;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 87vh;
  height: 87vh;
}

#Login {
  background-color: transparent !important;
}

.Absolute-Center {
  margin: auto;
  left: 42%;
  position: absolute;
  top: 20%;
  padding: 16px;
  border-radius: 4%;
  background: rgba(250, 250,250, 0.9);
}

  .Absolute-Center .is-Responsive {
    width: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }

.popup_custom {
  display: block;
  height: 80vh;
  overflow: auto;
  overflow-x: hidden;
  max-width: 65vw;
  width: 65vw;
  left: 17vw;
  top: 10vh;
  background-color: white;
}

/* width */
#app::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
#app::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

/* Handle */
#app::-webkit-scrollbar-thumb {
  background: #888 !important;
}

  /* Handle on hover */
  #app::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
  }

.popup_custom h4 {
  padding: 16px;
}

.popup_custom dl {
  padding: 16px;
}

.popup_background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.btn-primary {
  color: white !important;
  background-color: #717171;
  border-color: #717171;
}

  .btn-primary:hover {
    color: white !important;
    background-color: #717171;
    border-color: #717171;
    cursor: pointer;
    text-decoration: underline !important;
  }

  .btn-primary:active {
    color: white !important;
    background-color: #717171 !important;
    border-color: #717171 !important;
    cursor: pointer !important;
  }

  .btn-primary:focus {
    color: white !important;
    background-color: #717171 !important;
    border-color: #717171 !important;
    cursor: pointer !important;
  }

  .btn-primary.active {
    color: white !important;
    background-color: #717171 !important;
    border-color: #717171 !important;
    cursor: pointer !important;
  }

  .btn-primary.active:active {
    color: white !important;
    background-color: #717171 !important;
    border-color: #717171 !important;
    cursor: pointer !important;
  }

.btn-secondary {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.85);
  border-color: rgba(0, 0, 0, 0.85);
}

  .btn-secondary:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.85);
    border-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    text-decoration: underline !important;
  }

  .btn-secondary:active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    border-color: rgba(0, 0, 0, 0.85) !important;
    cursor: pointer !important;
  }

  .btn-secondary:focus {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    border-color: rgba(0, 0, 0, 0.85) !important;
    cursor: pointer !important;
  }

  .btn-secondary.active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    border-color: rgba(0, 0, 0, 0.85) !important;
    cursor: pointer !important;
  }

  .btn-secondary.active:active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    border-color: rgba(0, 0, 0, 0.85) !important;
    cursor: pointer !important;
  }