﻿@{
  ViewData["Title"] = "Login Page";
}
<div class="container">
  <div class="row">
    <div class="md-elevation-19 Absolute-Center is-Responsive">
      <form name="LoginForm" asp-action="Login" asp-controller="Login">
        <div class="form-group">
          <label class="control-label">Username</label>
          <input name="username" id="username" class="form-control" />
        </div>
        <div class="form-group">
          <label class="control-label">Password</label>
          <input name="password" id="password" type="password" onkeydown="" class="form-control" />
        </div>
        <div class="vb-actions">
          <div class="form-group">
            <a class="btn btn-primary p-1" onclick="LoginForm.submit()">Sign In</a>
            <a class="btn btn-secondary p-1">Request Password Change</a>
            <span class="vb-error">@ViewData["Error"]</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $("#password").on("keyup", function (event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      LoginForm.submit();
    }
  });
</script>