﻿@{
    @model BullyAssure.Models.Components.InputBox;
}
    <div class="vb-inline-2">
        @Model.Name:
    </div>
    <div class="vb-inline-2">
        <div id="app_@Model.ID">
            <input id="@Model.ID" name="@Model.Name" placeholder="@Model.Placeholder" class="md-input vb-input"  type="@Model.Type" value="@Model.Value" />
        </div>
    </div>