﻿@model DatabaseConnector.Tables.StatCards.StatCard
@{
  var percentage = ((Model.Value / 100) * 100);
}
<div class="vb-circle-top">
  <div class="circle vb-circle-center" id="circles-@Model.CardName"></div>
  <div class="vb-circle-name">@Model.CardName</div>
  <div class="vb-circle-description">@Model.CardDescription</div>
  @if (!String.IsNullOrEmpty(Model.CardAction) && !String.IsNullOrEmpty(Model.CardTo))
  {
    <div class="vb-circle-description"><a class="nav-link text-dark" asp-action="@Model.CardAction" asp-controller="@Model.CardTo" asp->@Model.CardNavName</a></div>
  }
</div>
<script>
    var myCircle = Circles.create({
        id: 'circles-@Model.CardName',
        radius: 60,
        value: @percentage.ToString().Replace(",", "."),
        maxValue: 100,
        width: 10,
        text: function (value) { return Math.round(value) + '%'; },
        colors: ['rgba(150,150,150,0.5)', 'rgba(0,0,250,0.7)'],
        duration: 400,
        wrpClass: 'circles-wrp',
        textClass: 'circles-text',
        valueStrokeClass: 'circles-valueStroke',
        maxValueStrokeClass: 'circles-maxValueStroke',
        styleWrapper: true,
        styleText: true
    });
</script>
<style>
  .vb-circle-center {
    text-align: center;
  }

  .vb-circle-name {
    font-size: 50px;
    padding: 8px;
    text-align: center;
  }

  .vb-circle-description {
    padding: 8px;
    text-align: center;
  }

  .vb-circle-top {
    padding: 8px;
    top: 0;
  }
</style>