﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Bully Assure</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  @*<link rel="stylesheet" href="~/css/vue-material.min.css" />*@
  <link rel="stylesheet" href="~/css/components.css" />
  <link rel="stylesheet" href="~/css/loader.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  @{
    var pageName = ViewContext.RouteData.Values["controller"].ToString();
    var actionName = ViewContext.RouteData.Values["action"].ToString();
  }

  @if (pageName == "Login")
  {
    <style>
      body {
        background: fixed url("../assets/logo_light.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }

      .loaderBackground {
        width: 100%;
        height: 100%;
        z-index: 9;
        position: absolute;
        background: rgba(0,0,0,0.3);
        top: 0;
        left: 0;
      }
    </style>
  }
  else
  {
    <style>
      body {
        background: url(../assets/logo_dark.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
      }

      .loaderBackground {
        width: 100%;
        height: 100%;
        z-index: 9;
        position: absolute;
        background: rgba(0,0,0,0.3);
        top: 0;
        left: 0;
      }
    </style>
  }
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/circles.min.js" asp-append-version="true"></script>
  <script src="~/js/country_list.js" asp-append-version="true"></script>
  <script src="~/js/mime.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)

  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow vb-primary">
      <div class="container">
        <a class="navbar-brand">Bully Assure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        @if (!(pageName == "Pedigree" && (actionName == "PedigreeApplication" || actionName == "StartApplication")))
        {
          @if (pageName != "Login")
          {
            @await Component.InvokeAsync("MenuNav")
          }
        }
      </div>
    </nav>
  </header>
  @*
    Global Pop up HTML
  *@
  <div class="modal popup_main">
    <div class="popup_frame">
      <div class="popup_header">{Header}</div>
      <div class="popup_body">{Body}</div>
      <div class="popup_actions vb-actions">{Actions}</div>
    </div>
  </div>

  @if (pageName == "Login")
  {
    <div id="Login" class="container">
      @RenderBody()
    </div>
  }
  else
  {
    <div id="app" class="container vb-primary">
      @RenderBody()
    </div>
  }
</body>
</html>