﻿@model string
@{
  ViewData["Title"] = "Empty " + Model;
}
<div class="center-block text-center">
  <div class="md-centered vb-icon"><img src="~/assets/empty.png" /></div>
  <div class="md-centered vb-name">@Model</div>
  <div class="md-centered vb-description">There isn't any @Model data captured. </div>
</div>

<style>
  .vb-name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    padding: 8px;
  }

  .vb-description {
    padding: 4px;
    font-size: 20px;
  }
</style>