﻿@model Exception;

@{
  ViewData["Title"] = "Site Error";
}

<div class="center-block text-center">
  <div class="md-centered">
    <div><img src="~/assets/empty.png" /></div>
    <h4 class="vb-name">Site Error Occured</h4>
    <span class="vb-description">@Model.Message</span>
  </div>
</div>

<style>
  .vb-name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    padding: 8px;
  }

  .vb-description {
    padding: 4px;
    font-size: 20px;
  }
</style>