﻿@model DatabaseConnector.Tables.Settings.GlobalSettings

<div class="row">
  <div class="col-md-4">
    <form asp-action="GlobalSettingsSave">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @Html.HiddenFor(model => Model.GlobalSettingID)
      <div class="form-group">
        <label asp-for="MerchantID" class="control-label">Merchant ID</label>
        <input asp-for="MerchantID" class="form-control" />
        <span asp-validation-for="MerchantID" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="MerchantKey" class="control-label">Merchant Key</label>
        <input asp-for="MerchantKey" class="form-control" />
        <span asp-validation-for="MerchantKey" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PaymentFeePercentage" class="control-label">Payment Fee Percentage</label>
        <input type="number" min="0" max="1000" asp-for="PaymentFeePercentage" class="form-control" />
        <span asp-validation-for="PaymentFeePercentage" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="KennelSubscriptionValue" class="control-label">Kennel Subscription Value</label>
        <input type="number" min="0" max="1000" asp-for="KennelSubscriptionValue" class="form-control" />
        <span asp-validation-for="KennelSubscriptionValue" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="BreederSubscriptionValue" class="control-label">Breeder Subscription Value</label>
        <input type="number" min="0" max="1000" asp-for="BreederSubscriptionValue" class="form-control" />
        <span asp-validation-for="BreederSubscriptionValue" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PedigreeRegistrationValue" class="control-label">Pedigree Registration Value</label>
        <input type="number" min="0" max="1000" asp-for="PedigreeRegistrationValue" class="form-control" />
        <span asp-validation-for="PedigreeRegistrationValue" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <input type="button" value="Cancel" asp-action="Index" onclick="window.location.href = '/Settings'" class="btn btn-primary p-1" />
      </div>
    </form>
  </div>
</div>