﻿@model List<DatabaseConnector.Tables.Owners.OwnerPageField>
<div class="m-2">
  <a class="btn btn-primary p-1" style="color: white;" asp-action="CreateOwnerField">Create New</a>
</div>
@if (Model.Count < 1)
{
  @await Html.PartialAsync("Empty", "Owner Fields")
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th>
          Field Name
        </th>
        <th>
          Field Type
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          @Html.HiddenFor(modelItem => item.FieldID)
          @Html.HiddenFor(modelItem => item.FieldTypeID)
          <td>
            @Html.DisplayFor(modelItem => item.FieldName)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.FieldType.FieldTypeName)
          </td>
          <td>
            <div class="m-2">
              @Html.ActionLink("Edit", "EditOwnerField", new { item.FieldID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
              @Html.ActionLink("Delete", "DeleteOwnerField", new { item.FieldID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
}