﻿@model IEnumerable<DatabaseConnector.Tables.Users.UserMain>

<div>
  <a class="btn btn-primary p-1" asp-action="Create">Create New</a>
</div>
<div class="scrollableTable">
  <input type="text" id="searchUsers" onkeyup="SearchUser()" placeholder="Filter Users..">
  <table class="table" id="searchUsersTable">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th class="tableHidePhone">
          @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th class="tableHidePhone">
          @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="tableHidePhone">
          @Html.DisplayNameFor(model => model.Cellnumber)
        </th>
        <th>
          Account Type
        </th>
        <th>
          Profile Status
        </th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        @Html.HiddenFor(modelItem => item.UserID)
        @Html.HiddenFor(modelItem => item.Password)
        <tr onclick="FocusUser('@(item.UserID)', false)" style="cursor: pointer;">
          <td>
            @Html.DisplayFor(modelItem => item.Firstname)
          </td>
          <td class="tableHidePhone">
            @Html.DisplayFor(modelItem => item.Surname)
          </td>
          <td class="tableHidePhone">
            @Html.DisplayFor(modelItem => item.Email)
          </td>
          <td class="tableHidePhone">
            @Html.DisplayFor(modelItem => item.Cellnumber)
          </td>
          <td>
            @(item.isAdmin ? "Admin Account"
              : (item.isDeveloper ? "Developer Account"
              : (item.isKennel ? "Kennel Account"
              : (item.isBreeder ? "Breeder Account"
              : (item.isOwner ? "Owner Account"
              : "Not Specified")))))
          </td>
          <td>
            @(item.IsDeleted ? "Inactive(deleted)" : "Active")
          </td>
          <div id="popup_@(item.UserID)" class="popup_background" style="display: none;">
            <div class="popover popup_custom">
              <dl class="row">
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Username)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Username)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Firstname)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Firstname)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Surname)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Surname)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Email)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Email)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Cellnumber)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Cellnumber)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Address_Postal)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Address_Postal)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Address)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Address)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.PostalCode)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.PostalCode)
                </dd>
                <dt class="col-sm-2">
                  @Html.DisplayNameFor(Model => item.Country)
                </dt>
                <dd class="col-sm-10">
                  @Html.DisplayFor(Model => item.Country)
                </dd>
                <dt class="col-sm-2">
                  Account Type
                </dt>
                <dd class="col-sm-10">
                  @(item.isAdmin ? "Admin Account"
                    : (item.isDeveloper ? "Developer Account"
                    : (item.isKennel ? "Kennel Account"
                    : (item.isBreeder ? "Breeder Account"
                    : (item.isOwner ? "Owner Account"
                    : "Not Specified")))))
                </dd>
                <dt class="col-sm-2">
                  Account Status
                </dt>
                <dd class="col-sm-10">
                  @(item.IsDeleted ? "Inactive(Deleted)" : "Active")
                </dd>
              </dl>
              <div class="m-2">
                <a class="btn btn-primary p-1" href="#" onclick="FocusUser('@(item.UserID)', true)" style="color: white;">Close</a>
                @Html.ActionLink("Edit", "EditUser", new { UserID = item.UserID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                @Html.ActionLink("Delete", "DeleteUser", new { UserID = item.UserID }, new { @class = "btn btn-secondary p-1", @style = "color: white;" })
              </div>
            </div>
          </div>
        </tr>
      }
    </tbody>
  </table>
</div>

<script>
  var FocusUser = function (userID, visible) {
    $(".popup_custom").scrollTop(0)
    $("#popup_" + userID).css("display", (visible ? "none" : "block"));
  };

  function SearchUser() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchUsers");
    filter = input.value.toUpperCase();
    table = document.getElementById("searchUsersTable");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      if (td) {
        var found = false;
        for (var j = 0; j < td.length; j++) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            found = true;
          }
        }
        if (!found) tr[i].style.display = "none";
      }
    }
  }
</script>

<style>
  .scrollableTable {
    width: 100%;
    overflow: hidden;
  }

  #searchUsers {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #searchUsersTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

    #searchUsersTable th, #searchUsersTable td {
      text-align: left;
      padding: 12px;
    }

    #searchUsersTable tr {
      border-bottom: 1px solid #ddd;
    }

      #searchUsersTable tr.header, #searchUsersTable tr:hover {
        background-color: #f1f1f1;
      }
</style>