﻿@model DatabaseConnector.Tables.Owners.OwnerMain
@{
  ViewData["Title"] = "Create Owner";

}
<div class="row">
  <div class="col-md-4">
    <form asp-action="AddOwner">
      @Html.HiddenFor(m => m.OwnerID)
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label class="control-label">Owner Name</label>
        <input asp-for="OwnerName" class="form-control" />
        <span asp-validation-for="OwnerName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Owner Surname</label>
        <input asp-for="OwnerSurname" class="form-control" />
        <span asp-validation-for="OwnerSurname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Email Address</label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Address</label>
        <input asp-for="OwnerAddress" class="form-control" />
        <span asp-validation-for="OwnerAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Cell Number</label>
        <input asp-for="CellNumber" class="form-control" />
        <span asp-validation-for="CellNumber" class="text-danger"></span>
      </div>
      @if (Model.OwnerFieldValues != null)
      {
        @for (int j = 0; j < Model.OwnerFieldValues.Count; j++)
        {
          <div class="form-group">
            <label class="control-label">@Model.OwnerFieldValues[j].OwnerFields.FieldName</label>
            <input data-val="@Model.OwnerFieldValues[j].Required" data-val-required="*This field is required." asp-for="@Model.OwnerFieldValues[j].FieldValue" class="form-control" />
            @if (Model.OwnerFieldValues[j].Required)
            {
              <span asp-validation-for="@Model.OwnerFieldValues[j].FieldValue" class="text-danger">This field is required</span>
            }
          </div>
          @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerID)
          @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFieldValueID)
          @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerID)
          @Html.HiddenFor(m => m.OwnerFieldValues[j].Required)
          @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFieldsID)
        }
      }
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Cancel</a>
</div>