﻿@model DatabaseConnector.Tables.Owners.OwnerMain
@{
    ViewData["Title"] = "Edit Owner";

}
<h4>Editing @Html.DisplayFor(model => model.OwnerName) @Html.DisplayFor(model => model.OwnerSurname)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            @Html.HiddenFor(m => m.OwnerID)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Owner Name</label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            @for (int j = 0; j < Model.OwnerFieldValues.Count; j++)
            {
                <div class="form-group">
                    <label class="control-label">@Model.OwnerFieldValues[j].OwnerFields.FieldName</label>
                    <input data-val="@Model.OwnerFieldValues[j].Required" data-val-required="*This field is required." asp-for="@Model.OwnerFieldValues[j].FieldValue" class="form-control" />
                    @if (Model.OwnerFieldValues[j].Required)
                    {
                        <span asp-validation-for="@Model.OwnerFieldValues[j].FieldValue" class="text-danger">This field is required</span>
                    }
                </div>
                @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerID)
                @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFieldValueID)
                @Html.HiddenFor(m => m.OwnerFieldValues[j].Required)
                @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFields.FieldName)
                @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFields.FieldTypeID)
                @Html.HiddenFor(m => m.OwnerFieldValues[j].OwnerFields.FieldID)
            }
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary p-1" />
          <a class="btn btn-primary p-1" asp-action="Index">Cancel</a>
        </div>
        </form>
    </div>
</div>

<div>
</div>