﻿@model List<DatabaseConnector.Tables.Owners.OwnerMain>
@{
  ViewData["Title"] = "Owners";

}
<div class="m-2">
  <a class="btn btn-primary p-1" style="color: white;" asp-action="Create">Create New</a>
</div>
<div>
  @if (Model.Count < 1)
  {
    @await Html.PartialAsync("Empty", "Owners")
  }
  else
  {
    @for (var i = 0; i < Model.Count; i++)
    {
      <h4>@Html.DisplayFor(model => model[i].OwnerName) @Html.DisplayFor(model => model[i].OwnerSurname) </h4>
      <hr />
      <dl class="row">
        <dt class="col-sm-2">
          Client Name
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model[i].OwnerName)
        </dd>
        @for (int j = 0; j < Model[i].OwnerFieldValues.Count; j++)
        {
          <dt class="col-sm-2">
            @Html.DisplayFor(model => model[i].OwnerFieldValues[j].OwnerFields.FieldName)
          </dt>
          <dd class="col-sm-10">
            @Html.DisplayFor(model => model[i].OwnerFieldValues[j].FieldValue)
          </dd>
        }
      <dd>
        <div class="m-2">
          @Html.ActionLink("Edit", "Edit", new { OwnerID = Model[i].OwnerID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
          @Html.ActionLink("Delete", "Delete", new { OwnerID = Model[i].OwnerID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
        </div>
      </dd>
      </dl>
    }
  }
</div>