﻿@model DatabaseConnector.Tables.Kennels.KennelMain
@{
  ViewData["Title"] = "Create Kennel";

}
<h4>Create New Kennel</h4>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Save">
      @Html.HiddenFor(m => m.KennelID)
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label class="control-label">Kennel Name</label>
        <input asp-for="KennelName" class="form-control" />
        <span asp-validation-for="KennelName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Kennel Email Address</label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Kennel Membership up to date?</label>
        <input asp-for="MembershipUpToDate" type="checkbox" />
        <span asp-validation-for="MembershipUpToDate" class="text-danger"></span>
      </div>
      @if (Model.KennelFieldsValues != null)
      {
        @for (int j = 0; j < Model.KennelFieldsValues.Count; j++)
        {
          <div class="form-group">
            <label class="control-label">@Model.KennelFieldsValues[j].KennelFields.FieldName</label>
            @if (Model.KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "document")
            {
              <input id="@(Model.KennelFieldsValues[j].KennelFields.FieldName.Replace(" ", "_") + "_attachment")" type="file" data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValue" class="form-control" />
              <input id="@(Model.KennelFieldsValues[j].KennelFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")" type="hidden" data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValueAlpha" class="form-control" />
              @if (Model.KennelFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.KennelFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
              <script>
                $("#@(Model.KennelFieldsValues[j].KennelFields.FieldName.Replace(" ", "_") + "_attachment")").on("change", () => {
                    var fileInput = document.getElementById('@(Model.KennelFieldsValues[j].KennelFields.FieldName.Replace(" ", "_") + "_attachment")');

                    var reader = new FileReader();
                    reader.readAsDataURL(fileInput.files[0]);

                    reader.onload = function () {
                        $("#@(Model.KennelFieldsValues[j].KennelFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")").val(reader.result);
                    };
                    reader.onerror = function (error) {
                        console.log('Error: ', error);
                    };
                })
              </script>
            }
            @if (Model.KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "textarea")
            {
              <textarea data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValue" class="form-control"></textarea>
              @if (Model.KennelFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.KennelFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "checkbox")
            {
              <input type="checkbox" data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.KennelFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.KennelFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "datetime")
            {
              <input type="datetime" data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.KennelFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.KennelFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "input")
            {
              <input type="text" data-val="@Model.KennelFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.KennelFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.KennelFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.KennelFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
          </div>
          @Html.HiddenFor(m => m.KennelFieldsValues[j].KennelID)
          @Html.HiddenFor(m => m.KennelFieldsValues[j].KennelFieldValueID)
          @Html.HiddenFor(m => m.KennelFieldsValues[j].Required)
          @Html.HiddenFor(m => m.KennelFieldsValues[j].KennelFieldsID)
        }
      }
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <a class="btn btn-secondary p-1" asp-action="Index">Cancel</a>
      </div>
    </form>
  </div>
</div>