﻿@model List<DatabaseConnector.Tables.Kennels.KennelMain>
@{
  ViewData["Title"] = "Kennels";
}
<style>
  #searchKennel {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #searchKennelTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

    #searchKennelTable th, #searchKennelTable td {
      text-align: left;
      padding: 12px;
    }

    #searchKennelTable tr {
      border-bottom: 1px solid #ddd;
    }

      #searchKennelTable tr.header, #searchKennelTable tr:hover {
        background-color: #f1f1f1;
      }
</style>
<span class="vb-error">@ViewData["Error"]</span>
<div class="m-2">
  <a class="btn btn-primary p-1" style="color: white;" asp-action="Create">Create New Kennel</a>
</div>
<div>
  @if (Model.Count < 1)
  {
    @(await Html.PartialAsync("Empty", "Kennels"))
  }
  else
  {
    <input type="text" id="searchKennel" onkeyup="SearchKennel()" placeholder="Filter Kennels..">
    <table class="table" id="searchKennelTable">
      <thead>
        <tr>
          <th>
            Kennel Name
          </th>
          <th>
            Kennel Email Address
          </th>
          <th class="tableHidePhone">
            Kennel Membership up to date?
          </th>
        </tr>
      </thead>
      <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
          <tr>
            <td onclick="FocusKennel('@(Model[i].KennelID)', false)" style="cursor: pointer">
              @Html.DisplayFor(model => model[i].KennelName)
            </td>
            <td>
              @Html.DisplayFor(model => model[i].EmailAddress)
            </td>
            <td class="tableHidePhone">
              @(Model[i].MembershipUpToDate ? "Yes" : "No")
            </td>
            <td>
              <div id="popup_@(Model[i].KennelID)" class="popup_background" style="display: none;">
                <div class="popover popup_custom">
                  <h4>@Html.DisplayFor(model => model[i].KennelName)</h4>
                  <hr />
                  <dl class="row">
                    <dt class="col-sm-2">
                      Kennel Name
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].KennelName)
                    </dd>
                    <dt class="col-sm-2">
                      Kennel Email Address
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].EmailAddress)
                    </dd>
                    <dt class="col-sm-2">
                      Kennel Membership up to date?
                    </dt>
                    <dd class="col-sm-10">
                      @(Model[i].MembershipUpToDate ? "Yes" : "No")
                    </dd>
                    @if (Model[i].KennelFieldsValues != null)
                    {
                      @for (int j = 0; j < Model[i].KennelFieldsValues.Count; j++)
                      {
                        @if (Model[i].KennelFieldsValues[j].KennelFields.FieldType != null)
                        {

                          @if (Model[i].KennelFieldsValues[j].KennelFields.FieldType?.FieldTypeName?.ToLower() == "document")
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].KennelFieldsValues[j].KennelFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              <a href="#" onclick="DownloadDocument('@Model[i].KennelFieldsValues[j].FieldValue', '@Model[i].KennelFieldsValues[j].FieldValueAlpha')">@Model[i].KennelFieldsValues[j].FieldValue</a>
                            </dd>
                          }
                          else if (Model[i].KennelFieldsValues[j].KennelFields.FieldType.FieldTypeName.ToLower() == "checkbox")
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].KennelFieldsValues[j].KennelFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              @(Model[i].KennelFieldsValues[j].FieldValue == "true" ? "Yes" : "No")
                            </dd>
                          }
                          else
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].KennelFieldsValues[j].KennelFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              @Html.DisplayFor(model => model[i].KennelFieldsValues[j].FieldValue)
                            </dd>
                          }
                        }
                      }
                    }
                    <dd>
                      <div class="m-2">
                        <a class="btn btn-primary p-1" href="#" onclick="FocusKennel('@(Model[i].KennelID)', true)" style="color: white;">Close</a>
                        @Html.ActionLink("Edit", "Edit", new { KennelID = Model[i].KennelID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                        @Html.ActionLink("Delete", "Delete", new { KennelID = Model[i].KennelID }, new { @class = "btn btn-secondary p-1", @style = "color: white;" })
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

<script>
  var DownloadDocument = (filename, contentBase64) => {
    if (window.confirm("Do you want to download file: " + filename + "?")) {
      let uriContent = URL.createObjectURL(new Blob([contentBase64], { type: contentBase64.split(';')[0].split(':')[1] }));
      let link = document.createElement('a');
      link.setAttribute('href', uriContent);
      link.setAttribute('download', filename);
      let event = new MouseEvent('click');
      link.dispatchEvent(event);
    }
  }

  var FocusKennel = function (kennelID, visible) {
    $(".popup_custom").scrollTop(0)
    $("#popup_" + kennelID).css("display", (visible ? "none" : "block"));
  };

  function SearchKennel() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchKennel");
    filter = input.value.toUpperCase();
    table = document.getElementById("searchKennelTable");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td");
      if (td) {
        var found = false;
        for (var j = 0; j < td.length; j++) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            found = true;
          }
        }
        if (!found) tr[i].style.display = "none";
      }
    }
  }
</script>