﻿@model DatabaseConnector.Tables.Breeders.BreederMain
@{
  Dictionary<Guid, string> Kennels = new Dictionary<Guid, string>();
  DatabaseConnector.Tables.Users.UserMain userMain = new DatabaseConnector.Tables.Users.UserMain();

  ViewData["Title"] = "Create New Breeder";
  if (ViewData["Kennels"] != null)
  {
    Kennels = (Dictionary<Guid, string>)ViewData["Kennels"];
  }

  if (ViewData["UserMain"] != null)
  {
     userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["UserMain"];
  }
}
<h4>Create New Breeder/Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form asp-action="Save">
        @Html.HiddenFor(m => m.BreederId)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label asp-for="BreederFirstName" class="control-label">First Name</label>
          <input asp-for="BreederFirstName" class="form-control" />
          <span asp-validation-for="BreederFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="BreederSurname" class="control-label">Surname</label>
          <input asp-for="BreederSurname" class="form-control" />
          <span asp-validation-for="BreederSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="CellNumber" class="control-label">Cellphone Number</label>
          <input asp-for="CellNumber" class="form-control" />
          <span asp-validation-for="CellNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="EmailAddress" class="control-label">Email Address</label>
          <input asp-for="EmailAddress" class="form-control" />
          <span asp-validation-for="EmailAddress" class="text-danger"></span>
        </div>
        @if (userMain.isKennel)
        {
          <div class="form-group" style="display: none;">
            <input type="hidden" asp-for="KennelId" class="form-control" value="@(ViewData["KennelID"]?.ToString() ?? "")" />
          </div>
        }
        else
        {
          <div class="form-group">
            <label asp-for="KennelId" class="control-label">Kennel</label>
            @Html.DropDownListFor(x => x.KennelId, new SelectList(Kennels, "Key", "Value", Model.KennelId))
          </div>
        }
        @if (Model.BreederFieldsValues != null)
        {
          @for (int j = 0; j < Model.BreederFieldsValues.Count; j++)
          {
            <div class="form-group">
              <label class="control-label">@Model.BreederFieldsValues[j].BreederFields.FieldName</label>
              @if (Model.BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "document")
              {
                <input id="@(Model.BreederFieldsValues[j].BreederFields.FieldName.Replace(" ", "_") + "_attachment")" type="file" data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValue" class="form-control" />
                <input id="@(Model.BreederFieldsValues[j].BreederFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")" type="hidden" data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValueAlpha" class="form-control" />
                @if (Model.BreederFieldsValues[j].Required)
                {
                  <span asp-validation-for="@Model.BreederFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
                }
                <script>
                  $("#@(Model.BreederFieldsValues[j].BreederFields.FieldName.Replace(" ", "_") + "_attachment")").on("change", () => {
                      var fileInput = document.getElementById('@(Model.BreederFieldsValues[j].BreederFields.FieldName.Replace(" ", "_") + "_attachment")');

                      var reader = new FileReader();
                      reader.readAsDataURL(fileInput.files[0]);

                      reader.onload = function () {
                          $("#@(Model.BreederFieldsValues[j].BreederFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")").val(reader.result);
                      };
                      reader.onerror = function (error) {
                          console.log('Error: ', error);
                      };
                  })
                </script>
              }
              @if (Model.BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "textarea")
              {
                <textarea data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValue" class="form-control"></textarea>
                @if (Model.BreederFieldsValues[j].Required)
                {
                  <span asp-validation-for="@Model.BreederFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
                }
              }
              @if (Model.BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "checkbox")
              {
                <input type="checkbox" data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValue" class="form-control" />
                @if (Model.BreederFieldsValues[j].Required)
                {
                  <span asp-validation-for="@Model.BreederFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
                }
              }
              @if (Model.BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "datetime")
              {
                <input type="datetime" data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValue" class="form-control" />
                @if (Model.BreederFieldsValues[j].Required)
                {
                  <span asp-validation-for="@Model.BreederFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
                }
              }
              @if (Model.BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "input")
              {
                <input type="text" data-val="@Model.BreederFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.BreederFieldsValues[j].FieldValue" class="form-control" />
                @if (Model.BreederFieldsValues[j].Required)
                {
                  <span asp-validation-for="@Model.BreederFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
                }
              }
            </div>
            @Html.HiddenFor(m => m.BreederFieldsValues[j].BreederID)
            @Html.HiddenFor(m => m.BreederFieldsValues[j].BreederFieldValueID)
            @Html.HiddenFor(m => m.BreederFieldsValues[j].Required)
            @Html.HiddenFor(m => m.BreederFieldsValues[j].BreederFieldsID)
          }
        }
        <div class="form-group">
          <input type="submit" value="Save" class="btn btn-primary p-1" />
          <input type="button" value="Cancel" asp-action="Index" onclick="window.location.href = '/Breeder'" class="btn btn-secondary p-1" />
        </div>
      </form>
    </div>
</div>