﻿@model DatabaseConnector.Tables.Breeders.BreederMain
@{
  Dictionary<Guid, string> Kennels = new Dictionary<Guid, string>();
  DatabaseConnector.Tables.Users.UserMain userMain = new DatabaseConnector.Tables.Users.UserMain();

  ViewData["Title"] = "Editing Breeder";
  if (ViewData["Kennels"] != null)
  {
    Kennels = (Dictionary<Guid, string>)ViewData["Kennels"];
  }

  if (ViewData["UserMain"] != null)
  {
    userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["UserMain"];
  }
}

<h4>Editing @Model.BreederFirstName @Model.BreederSurname</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Save">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @Html.HiddenFor(x => x.BreederId)
      <div class="form-group">
        <label asp-for="BreederFirstName" class="control-label"></label>
        <input asp-for="BreederFirstName" class="form-control" />
        <span asp-validation-for="BreederFirstName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="BreederSurname" class="control-label"></label>
        <input asp-for="BreederSurname" class="form-control" />
        <span asp-validation-for="BreederSurname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CellNumber" class="control-label"></label>
        <input asp-for="CellNumber" class="form-control" />
        <span asp-validation-for="CellNumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="EmailAddress" class="control-label"></label>
        <input asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
      </div>
      @if (!(userMain.isAdmin || userMain.isDeveloper))
      {
        <div class="form-group">
          <input type="hidden" asp-for="KennelId" class="form-control" value="@(Model.KennelId)" />
        </div>
      }
      else
      {
        <div class="form-group">
          <label asp-for="KennelId" class="control-label">Kennel</label>
          @Html.DropDownListFor(x => x.KennelId, new SelectList(Kennels, "Key", "Value", Model.KennelId))
        </div>
      }
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <input type="button" value="Cancel" asp-action="Index" onclick="window.location.href = '/Breeder'" class="btn btn-secondary p-1" />
      </div>
    </form>
  </div>
</div>