﻿@model List<DatabaseConnector.Tables.Breeders.BreederMain>
@{
  ViewData["Title"] = "Breeders";
}
<style>
  #searchBreeder {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #searchBreederTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

    #searchBreederTable th, #searchBreederTable td {
      text-align: left;
      padding: 12px;
    }

    #searchBreederTable tr {
      border-bottom: 1px solid #ddd;
    }

      #searchBreederTable tr.header, #searchBreederTable tr:hover {
        background-color: #f1f1f1;
      }
</style>
<span class="vb-error">@ViewData["Error"]</span>
<div class="m-2">
  <a class="btn btn-primary p-1" style="color: white;" asp-action="Create">Create New Breeder/Member</a>
</div>
<div>
  @if (Model.Count < 1)
  {
    @await Html.PartialAsync("Empty", "Breeders")
  }
  else
  {
    <input type="text" id="searchBreeder" onkeyup="SearchBreeder()" placeholder="Filter Breeders..">
    <table class="table" id="searchBreederTable">
      <thead>
        <tr>
          <th>
            First Name
          </th>
          <th class="tableHidePhone">
            Surname
          </th>
          <th class="tableHidePhone">
            Email Address
          </th>
          <th class="tableHidePhone">
            Kennel Name
          </th>
          <th>
            Kennel Membership up-to-date?
          </th>
        </tr>
      </thead>
      <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
          <tr>
            <td onclick="FocusBreeder('@(Model[i].BreederId)', false)" style="cursor: pointer">
              @Html.DisplayFor(model => model[i].BreederFirstName)
            </td>
            <td class="tableHidePhone">
              @Html.DisplayFor(model => model[i].BreederSurname)
            </td>
            <td class="tableHidePhone">
              @Html.DisplayFor(model => model[i].EmailAddress)
            </td>
            <td class="tableHidePhone">
              @Html.DisplayFor(model => model[i].Kennel.KennelName)
            </td>
            <td>
              @( Model[i].Kennel.MembershipUpToDate ? "Yes" : "No" )
            </td>
            <td>
              <div id="popup_@(Model[i].BreederId)" class="popup_background" style="display: none;">
                <div class="popover popup_custom">
                  <h4>@Html.DisplayFor(model => model[i].BreederFirstName) @Html.DisplayFor(model => model[i].BreederSurname)</h4>
                  <hr />
                  <dl class="row">
                    <dt class="col-sm-2">
                      First Name
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].BreederFirstName)
                    </dd>
                    <dt class="col-sm-2">
                      Surname
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].BreederSurname)
                    </dd>
                    <dt class="col-sm-2">
                      Celphone Number
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].CellNumber)
                    </dd>
                    <dt class="col-sm-2">
                      Email Address
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].EmailAddress)
                    </dd>
                    <dt class="col-sm-2">
                      Kennel Name
                    </dt>
                    <dd class="col-sm-10">
                      @Html.DisplayFor(model => model[i].Kennel.KennelName)
                    </dd>
                    <dt class="col-sm-2">
                      Kennel Membership up-to-date?
                    </dt>
                    <dd class="col-sm-10">
                      @( Model[i].Kennel.MembershipUpToDate ? "Yes" : "No" )
                    </dd>

                    @if (Model[i].BreederFieldsValues != null)
                    {
                      @for (int j = 0; j < Model[i].BreederFieldsValues.Count; j++)
                      {
                        @if (Model[i].BreederFieldsValues[j].BreederFields.FieldType != null)
                        {
                          @if (Model[i].BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "document")
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].BreederFieldsValues[j].BreederFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              <a href="#" onclick="DownloadDocument('@Model[i].BreederFieldsValues[j].FieldValue', '@Model[i].BreederFieldsValues[j].FieldValueAlpha')">@Model[i].BreederFieldsValues[j].FieldValue</a>
                            </dd>
                          }
                          else if (Model[i].BreederFieldsValues[j].BreederFields.FieldType.FieldTypeName.ToLower() == "checkbox")
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].BreederFieldsValues[j].BreederFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              @(Model[i].BreederFieldsValues[j].FieldValue == "true" ? "Yes" : "No")
                            </dd>
                          }
                          else
                          {
                            <dt class="col-sm-2">
                              @Html.DisplayFor(model => model[i].BreederFieldsValues[j].BreederFields.FieldName)
                            </dt>
                            <dd class="col-sm-10">
                              @Html.DisplayFor(model => model[i].BreederFieldsValues[j].FieldValue)
                            </dd>
                          }
                        }
                      }
                    }
                    <dd>
                      <div class="m-2">
                        <a class="btn btn-primary p-1" href="#" onclick="FocusBreeder('@(Model[i].BreederId)', true)" style="color: white;">Close</a>
                        @Html.ActionLink("Edit", "Edit", new { BreederID = Model[i].BreederId }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                        @Html.ActionLink("Delete", "Delete", new { BreederID = Model[i].BreederId }, new { @class = "btn btn-secondary p-1", @style = "color: white;" })
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }

  <script>
    var DownloadDocument = (filename, contentBase64) => {
      if (window.confirm("Do you want to download file: " + filename + "?")) {
        let uriContent = URL.createObjectURL(new Blob([contentBase64], { type: contentBase64.split(';')[0].split(':')[1] }));
        let link = document.createElement('a');
        link.setAttribute('href', uriContent);
        link.setAttribute('download', filename);
        let event = new MouseEvent('click');
        link.dispatchEvent(event);
      }
    }

    var FocusBreeder = function (breederID, visible) {
      $(".popup_custom").scrollTop(0)
      $("#popup_" + breederID).css("display", (visible ? "none" : "block"));
    };

    function SearchBreeder() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchBreeder");
      filter = input.value.toUpperCase();
      table = document.getElementById("searchBreederTable");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        if (td) {
          var found = false;
          for (var j = 0; j < td.length; j++) {
            txtValue = td[j].textContent || td[j].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              found = true;
            }
          }
          if (!found) tr[i].style.display = "none";
        }
      }
    }
  </script>
</div>