﻿@model DatabaseConnector.Tables.Users.UserMain
@{
  ViewData["Title"] = "Editing - MyProfile";

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];

}
<h4>Editing My Profile</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="UpdateUser">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @Html.HiddenFor(Model => Model.UserID)
      @Html.HiddenFor(Model => Model.Password)
      @Html.HiddenFor(Model => Model.ProfilePicture)
      @Html.HiddenFor(Model => Model.OrgStructureID)
      @Html.HiddenFor(Model => Model.UserPermissionId)
      <div class="form-group">
        <label asp-for="Username" class="control-label">Username:</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger">Attention: This will be used to log in.</span>
      </div>
      <div class="form-group">
        <label asp-for="Firstname" class="control-label">First Name:</label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Surname" class="control-label">Surname:</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Email" class="control-label">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Cellnumber" class="control-label">Cellphone Number:</label>
        <input asp-for="Cellnumber" class="form-control" />
        <span asp-validation-for="Cellnumber" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Address" class="control-label">Address:</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PostalCode" class="control-label">Postal Code:</label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Address_Postal" class="control-label">Postal Address:</label>
        <input asp-for="Address_Postal" class="form-control" />
        <span asp-validation-for="Address_Postal" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Country" class="control-label">Country:</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
      </div>
      @Html.HiddenFor(Model => Model.isAdmin)
      @Html.HiddenFor(Model => Model.isDeveloper)
      @Html.HiddenFor(Model => Model.isKennel)
      @Html.HiddenFor(Model => Model.isBreeder)
      @Html.HiddenFor(Model => Model.isOwner)
      @Html.HiddenFor(Model => Model.IsDeleted)
      @Html.HiddenFor(Model => Model.UserPermission.EditBreederFields)
      @Html.HiddenFor(Model => Model.UserPermission.EditGlobalSettings)
      @Html.HiddenFor(Model => Model.UserPermission.EditKennelFields)
      @Html.HiddenFor(Model => Model.UserPermission.EditMenuNav)
      @Html.HiddenFor(Model => Model.UserPermission.EditPedigreeFields)
      @Html.HiddenFor(Model => Model.UserPermission.EditPermissions)
      @Html.HiddenFor(Model => Model.UserPermission.EditUsers)
      @Html.HiddenFor(Model => Model.UserPermission.ViewAllBreeders)
      @Html.HiddenFor(Model => Model.UserPermission.ViewAllKennels)
      @Html.HiddenFor(Model => Model.UserPermission.ViewAllPedigrees)
      @Html.HiddenFor(Model => Model.UserPermission.ViewAllUsers)
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        @Html.ActionLink("Cancel", "Index", new { userId = Model.UserID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
      </div>
    </form>
  </div>
</div>