﻿@model DatabaseConnector.Tables.Users.UserMain
@{
  ViewData["Title"] = "MyProfile";
}
<div>
  <h4>Hi, @(Model.Firstname) @(Model.Surname)</h4>
  <hr />
  <dl class="row">
    @Html.HiddenFor(model => model.UserID)
    @Html.HiddenFor(model => model.isAdmin)
    @Html.HiddenFor(model => model.isDeveloper)
    @Html.HiddenFor(model => model.isBreeder)
    @Html.HiddenFor(model => model.isOwner)
    @Html.HiddenFor(model => model.OrgStructureID)
    @Html.HiddenFor(model => model.IsDeleted)
    <dt class="col-sm-2">
      User Name
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Username)
    </dd>
    <dt class="col-sm-2">
      First Name
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Firstname)
    </dd>
    <dt class="col-sm-2">
      Surname
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Surname)
    </dd>
    <dt class="col-sm-2">
      Email Address
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Email)
    </dd>
    <dt class="col-sm-2">
      Cellphone Number
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Cellnumber)
    </dd>
    @*<dt class="col-sm-2">
        Profile Picture
      </dt>
      <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProfilePicture)
      </dd>*@
    <dt class="col-sm-2">
      Postal Address
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Address_Postal)
    </dd>
    <dt class="col-sm-2">
      Address
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Address)
    </dd>
    <dt class="col-sm-2">
      Postal Code
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.PostalCode)
    </dd>
    <dt class="col-sm-2">
      Country
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Country)
    </dd>
  </dl>
</div>
<div>
  <div>
    @Html.ActionLink("Edit", "Edit", new { userId = Model.UserID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
  </div>
</div>