﻿@model List<DatabaseConnector.Tables.Settings.Setting>
<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
  <ul class="navbar-nav flex-grow-1">
    @for (var i = 0; i < Model.Count; i++)
    {
      <li class="nav-item">
        <a class="nav-link text-dark"
           asp-area=""
           asp-controller="@Model[i].To"
           asp-action="@Model[i].Action">@Model[i].SettingNavName</a>
        </li>
      }
    <li class="nav-item">
      <a class="nav-link text-dark"
         asp-area=""
         asp-controller="Login"
         asp-action="SignOff">Sign Out</a>
    </li>
  </ul>
</div>