﻿@model DatabaseConnector.Tables.Pedigrees.PedigreeApplication_Response

@{
  DatabaseConnector.Tables.Pedigrees.PedigreeApplication application = (DatabaseConnector.Tables.Pedigrees.PedigreeApplication)ViewData["PedigreeApplication"];

}
<h4>Application Responses</h4>

<table class="table">
  <thead>
    <tr>
      <th>
        Date Captured
      </th>
      <th>
        User
      </th>
      <th>
        Message
      </th>
      <th>
        Attachments
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var response in application.Responses.OrderByDescending(e => e.DateCaptured))
    {
      <tr>
        <td>@(response.DateCaptured)</td>
        <td>@(response.User.Firstname + " " + response.User.Surname)</td>
        <td>@(response.Message)</td>
        <td>@(response.ResponseDocuments.Count)</td>
      </tr>
    }
  </tbody>
</table>
<div class="row">
  <div class="col-md-4">
    <form enctype="multipart/form-data" asp-action="AddApplicationResponses">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" name="PedigreeApplicationId" value="@application.PedigreeApplicationId" />
      <div class="form-group">
        <label asp-for="Message" class="control-label">Message:</label>
        <textarea asp-for="Message" class="form-control" ></textarea>
      </div>
      <div class="form-group">
        <label asp-for="ResponseDocuments" class="control-label"></label>
        <input type="file" id="responseDocuments" name="responseDocuments" multiple class="form-control" />
      </div>
      <div class="form-group">
        <input type="submit" value="Add Response" class="btn btn-primary p-1" />
        <a asp-action="Index" class="btn btn-secondary p-1">Back</a>
      </div>
    </form>
  </div>
</div>