﻿@model List<DatabaseConnector.Tables.Pedigrees.PedigreeApplication>
@{
  ViewData["Title"] = "Pedigree Applications";

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];

  BullyAssure.Models.ExternalIntegration.ExternalPayment externalPayment = (BullyAssure.Models.ExternalIntegration.ExternalPayment)ViewData["ExternalPayment"];

  DatabaseConnector.Tables.Settings.GlobalSettings globalsettings = (DatabaseConnector.Tables.Settings.GlobalSettings)ViewData["GlobalSettings"];
}
<style>
  #searchApplications {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #searchApplicationsTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

    #searchApplicationsTable th, #searchApplicationsTable td {
      text-align: left;
      padding: 12px;
    }

    #searchApplicationsTable tr {
      border-bottom: 1px solid #ddd;
    }

      #searchApplicationsTable tr.header, #searchApplicationsTable tr:hover {
        background-color: #f1f1f1;
      }
</style>
<iframe id="certificatePrinter" style="display: none; width: 90vw;"></iframe>
<h4>Pedigree Applications</h4>
<input type="text" id="searchApplications" onkeyup="SearchApplication()" placeholder="Filter Applications..">
<table class="table grid" id="searchApplicationsTable">
  <thead>
    <tr>
      <th>
        Bully Assure ID
      </th>
      <th>
        Pedigree Name
      </th>
      <th class="tableHidePhone">
        Date Applied
      </th>
      <th class="tableHidePhone">
        Date Finalised
      </th>
      <th class="tableHidePhone">
        Status
      </th>
    </tr>
  </thead>
  <tbody class="searchable">
    @foreach (var item in Model)
    {
      <tr>
        @Html.HiddenFor(model => item.PedigreeApplicationId)
        <td onclick="FocusApplication('@(item.PedigreeApplicationId)', false)" style="cursor: pointer">
          @if (item.Pedigree.IsDeleted)
          {
            <span class="importantInformation">REMOVED</span>
          }
          BA\@(item.Pedigree.BAID.ToString().PadLeft(7, '0'))
        </td>
        <td onclick="FocusApplication('@(item.PedigreeApplicationId)', false)" style="cursor: pointer">
          @Html.DisplayFor(modelItem => item.Pedigree.Name)
        </td>
        <td class="tableHidePhone">
          @Html.DisplayFor(modelItem => item.DateApplied)
        </td>
        <td class="tableHidePhone">
          @Html.DisplayFor(modelItem => item.ApplicationDateFinalised)
        </td>
        <td class="tableHidePhone">
          <span style="color:@(item.Closed ? item.Accepted ? "green" : "red" : "black")">
            @(item.Closed
              ? (item.Accepted
                ?
                  "Closed - Application Accepted"
                :
                  "Closed - Application Declined")
              : "Open")
          </span>
          @if (item.Accepted)
          {
            <a class="btn btn-secondary p-1" href="#" onclick="PrintCertificate('@(item.PedigreeId)')" style="color: white;">Print Certificate</a>
          }
        </td>
        <td>
          <div id="popup_@(item.PedigreeApplicationId)" class="popup_background" style="display: none;">
            <div class="popover popup_custom">
              @if (item.PaymentReceived)
              {
                <h4>Payment Received on @(item.PaymentReceivedDate)</h4>
              }
              else
              {
                <h4>Payment has not yet been made.</h4>
                <div>
                  <form action="@(externalPayment.paymenthostURL)" method="post">
                    <input type="hidden" name="merchant_id" value="@(externalPayment.merchant_id)">
                    <input type="hidden" name="merchant_key" value="@(externalPayment.merchant_key)">
                    <input type="hidden" name="amount" value="@(globalsettings.PedigreeRegistrationValue + (globalsettings.PedigreeRegistrationValue * (globalsettings.PaymentFeePercentage / 100)))">
                    <input type="hidden" name="return_url" value="@(externalPayment.returnUrl)?PedigreeId=@(item.PedigreeId)">
                    <input type="hidden" name="name_first" value="@(item.Pedigree.Owner?.OwnerName ?? item.Pedigree.Name)">
                    <input type="hidden" name="name_last" value="@(item.Pedigree.Owner?.OwnerSurname ?? "BullyAssure")">
                    <input type="hidden" name="email_address" value="@(item.Pedigree.Owner?.EmailAddress ?? externalPayment.confirmation_address)">
                    <input type="hidden" name="cell_number" value="@(item.Pedigree.Owner.CellNumber)">
                    <input type="hidden" name="item_name" value="Bully Assure Pedigree Registration Fee">
                    <input type="hidden" name="email_confirmation" value="1">
                    <input type="hidden" name="confirmation_address" value="@(externalPayment.confirmation_address)">
                    <input type="submit" class="btn btn-primary p-1" value="Pay Now" />
                  </form>
                </div>
              }
              <h4>Application Details</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Bully Assure ID
                    </th>
                    <th>
                      Pedigree Name
                    </th>
                    <th class="tableHidePhone">
                      Date Applied
                    </th>
                    <th class="tableHidePhone">
                      Date Finalised
                    </th>
                    <th>
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    @Html.HiddenFor(model => item.PedigreeApplicationId)
                    <td>
                      BA\@(item.Pedigree.BAID.ToString().PadLeft(7, '0'))
                    </td>
                    <td>
                      @Html.DisplayFor(modelItem => item.Pedigree.Name)
                    </td>
                    <td class="tableHidePhone">
                      @Html.DisplayFor(modelItem => item.DateApplied)
                    </td>
                    <td class="tableHidePhone">
                      @Html.DisplayFor(modelItem => item.ApplicationDateFinalised)
                    </td>
                    <td>
                      @(item.Closed ? (item.Accepted ? "Closed - Application Accepted" : "Closed - Application Declined" ) : "Open")
                    </td>
                  </tr>
                </tbody>
              </table>

              <h4>Pedigree Details</h4>
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Bully Assure ID
                    </th>
                    <th class="tableHidePhone">
                      ABFSA#
                    </th>
                    <th>
                      Pedigree Name
                    </th>
                    <th class="tableHidePhone">
                      Chip No
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      BA\@(item.Pedigree.BAID.ToString().PadLeft(7, '0'))
                    </td>
                    <td class="tableHidePhone">
                      @Html.DisplayFor(model => item.Pedigree.RegID)
                    </td>
                    <td>
                      @Html.DisplayFor(model => item.Pedigree.Name)
                    </td>
                    <td class="tableHidePhone">
                      @Html.DisplayFor(model => item.Pedigree.ChipNo)
                    </td>
                  </tr>
                </tbody>
              </table>

              <h4>Application Responses</h4>

              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Date Captured
                    </th>
                    <th>
                      User
                    </th>
                    <th>
                      Message
                    </th>
                    <th>
                      Attachments
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @foreach (var response in item.Responses.OrderByDescending(e => e.DateCaptured))
                  {
                    <tr>
                      <td onclick="FocusApplication('@(response.ResponseId)_doc', false)" style="cursor: pointer;">
                        @(response.DateCaptured)
                      </td>
                      <td onclick="FocusApplication('@(response.ResponseId)_doc', false)" style="cursor: pointer;">
                        @(response.User.Firstname + " " + response.User.Surname)
                      </td>
                      <td onclick="FocusApplication('@(response.ResponseId)_doc', false)" style="cursor: pointer;">
                        @(response.Message)
                      </td>
                      <td onclick="FocusApplication('@(response.ResponseId)_doc', false)" style="cursor: pointer;">
                        @(response.ResponseDocuments.Count)
                      </td>
                      <td>
                        <div id="popup_@(response.ResponseId)_doc" class="popup_background" style="display: none;">
                          <div class="popover popup_custom" style="left: 0; top:0;">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>
                                    Document Name (Click on Document Name to download)
                                  </th>
                                  <th>
                                    Date Uploaded
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                @foreach (var doc in response.ResponseDocuments)
                                {
                                  <tr>
                                    <td><span style="cursor: pointer;" onclick="DownloadDocument('@(doc.ResponseDocId)', '@(doc.DocumentName)')">@(doc.DocumentName)</span></td>
                                    <td>@(doc.DateUploaded)</td>
                                  </tr>
                                }
                              </tbody>
                            </table>
                            <div class="m-2">
                              <a class="btn btn-primary p-1" href="#" onclick="FocusApplication('@(response.ResponseId)_doc', true)" style="color: white;">Close</a>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
              <div class="m-2">
                @Html.ActionLink("Add Response", "AddResponse", new { PedigreeApplicationId = item.PedigreeApplicationId }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                @if (userMain.isAdmin || userMain.isDeveloper)
                {
                  @Html.ActionLink("Accept Application", "ApplicationAccept", new { PedigreeApplicationId = item.PedigreeApplicationId }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                  @Html.ActionLink("Reject Application", "ApplicationReject", new { PedigreeApplicationId = item.PedigreeApplicationId }, new { @class = "btn btn-secondary p-1", @style = "color: white;" })
                }
                <a class="btn btn-secondary p-1" href="#" onclick="FocusApplication('@(item.PedigreeApplicationId)', true)" style="color: white;">Close</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

<style>
  .importantInformation {
    padding: 4px;
    border-radius: 5px;
    background-color: red;
    color: white;
  }
</style>

<script>
  var DownloadDocument = (docID, docName) => {
    if (window.confirm("Do you want to download file: " + docName + "?")) {
      var formData = new FormData();

      formData.append("DocID", docID);
      formData.append("DocName", docName);

      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("POST", "/Pedigree/GetDocument", false);
      xmlHttp.send(formData);

      const linkSource = `data:${mime.getType(docName)};base64,${xmlHttp.responseText}`;
      const downloadLink = document.createElement("a");
      const fileName = docName;

      downloadLink.href = linkSource;
      downloadLink.download = fileName;
      downloadLink.click();
    }
  }

  var FocusApplication = function (pedigreeApplicationId, visible) {
    $(".popup_custom").scrollTop(0)
    $("#popup_" + pedigreeApplicationId).css("display", (visible ? "none" : "block"));
  };

  function SearchApplication() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchApplications");
    filter = input.value.toUpperCase();
    table = document.getElementById("searchApplicationsTable");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
      if (tr[i].parentElement.className == "searchable") {
        td = tr[i].getElementsByTagName("td");
        if (td) {
          var found = false;
          for (var j = 0; j < td.length; j++) {
            txtValue = td[j].textContent || td[j].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              found = true;
            }
          }
          if (!found) tr[i].style.display = "none";
        }
      }
    }
  }

  var PrintCertificate = function (pedigreeID) {
    var _this = this,
      iframeId = 'certificatePrinter',
      $iframe = $("iframe#certificatePrinter");
    $('#certificatePrinter')[0].style.display = '';
    $('#certificatePrinter')[0].style.width = '90vw';
    $iframe.attr('src', "/Pedigree/GetPedigreeCertificateTemplate?PedigreeID=" + pedigreeID);

    window.setTimeout(() => {
      _this.callPrint(iframeId);

      $('#certificatePrinter')[0].style.display = 'none';
      $('#certificatePrinter')[0].innerHTML = "LOL";
    }, 15);
  }

  function callPrint(iframeId) {
    var PDF = document.getElementById(iframeId);
    PDF.focus();
    PDF.contentWindow.print();
  }
</script>