﻿@model string;

@{
  ViewData["Title"] = "Application Successful";
}

<div class="center-block text-center">
  <div class="md-centered">
    <span class="vb-description">@Model</span>
  </div>
</div>

<style>
  .vb-name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    padding: 8px;
  }

  .vb-description {
    padding: 4px;
    font-size: 20px;
  }
</style>