﻿@model DatabaseConnector.Tables.Pedigrees.PedigreeMain
@{
  Dictionary<Guid, string> Breeders = new Dictionary<Guid, string>();
  Dictionary<long, string> Sires = new Dictionary<long, string>();
  Dictionary<long, string> Dams = new Dictionary<long, string>();

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];

  ViewData["Title"] = "Create Pedigree";
  if (ViewData["Breeders"] != null)
  {
    Breeders = (Dictionary<Guid, string>)ViewData["Breeders"];
  }
  if (ViewData["Sires"] != null)
  {
    Sires = (Dictionary<long, string>)ViewData["Sires"];
  }
  if (ViewData["Dams"] != null)
  {
    Dams = (Dictionary<long, string>)ViewData["Dams"];
  }
}

<h4>Editing @(Model.Name)</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Save">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div>
        @Html.HiddenFor(model => Model.PedigreeID)
      </div>
      @if (!(userMain.isAdmin || userMain.isDeveloper))
      {
        <div class="form-group">
          <label class="control-label">Pedigree Name</label>
          <input readonly class="form-control" value="@(Model.Name)" />
        </div>
        <div class="form-group">
          <label class="control-label">Pedigree Description</label>
          <input readonly class="form-control" value="@(Model.Description)" />
        </div>
        <div class="form-group">
          <label class="control-label">Pedigree Breed</label>
          <input readonly class="form-control" value="@(Model.Breed)" />
        </div>
        <div class="form-group">
          <label class="control-label">Pedigree Sex</label>
          <input readonly class="form-control" value="@(Model.Sex == "M" ? "Male (SAM)" : "Female (DIRE)")" />
        </div>
        <div class="form-group">
          <label class="control-label">Pedigree Date of Birth</label>
          <input readonly class="form-control" value="@(Model.DOB)" />
        </div>
        <div class="form-group">
          <label class="control-label">Pedigree Chip Number</label>
          <input readonly class="form-control" value="@(Model.ChipNo)" />
        </div>
      }
      @if (userMain.isBreeder || userMain.isKennel)
      {
        @Html.HiddenFor(model => Model.BAID)
        @Html.HiddenFor(model => Model.Name)
        @Html.HiddenFor(model => Model.Description)
        @Html.HiddenFor(model => Model.Breed)
        @Html.HiddenFor(model => Model.Sex)
        @Html.HiddenFor(model => Model.DOB)
        @Html.HiddenFor(model => Model.DOI)
        @Html.HiddenFor(model => Model.ChipNo)
        @Html.HiddenFor(model => Model.SireID)
        @Html.HiddenFor(model => Model.DamID)
      }
      else if (userMain.isAdmin || userMain.isDeveloper)
      {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
          <label class="control-label">Pedigree Name</label>
          <input asp-for="Name" class="form-control" />
          <span asp-validation-for="Name" class="text-danger">Pedigree name is mandatory</span>
        </div>
        <div class="form-group">
          <label asp-for="Breed" class="control-label"></label>
          <select asp-for="Breed" class="form-control">
            <option value="American Bully">American Bully</option>
          </select>
          <span asp-validation-for="Breed" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Sex" class="control-label"></label>
          <select asp-for="Sex" class="form-control">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
          <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Description" class="control-label"></label>
          <input asp-for="Description" class="form-control" />
          <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="DOB" class="control-label">Date of Birth</label>
          <input asp-for="DOB" type="date" class="form-control" />
          <span asp-validation-for="DOB" class="text-danger"></span>
        </div>
        <div class="form-group" style="display: none">
          <label asp-for="DOI" class="control-label">Date of Issued</label>
          <input asp-for="DOI" type="date" value="@DateTime.Now" class="form-control" />
          <span asp-validation-for="DOI" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="ChipNo" class="control-label">Chip Number</label>
          <input asp-for="ChipNo" class="form-control" />
          <span asp-validation-for="ChipNo" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="FrontImage" class="control-label">Front Angle Photo</label>
          <input id="FrontImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('FrontImage_File', 'FrontImage')" />
          <input asp-for="FrontImage" type="hidden" class="form-control" />
          <span asp-validation-for="FrontImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="LeftImage" class="control-label">Side Angle Photo (Left)</label>
          <input id="LeftImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('LeftImage_File', 'LeftImage')" />
          <input asp-for="LeftImage" type="hidden" class="form-control" />
          <span asp-validation-for="LeftImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="RightImage" class="control-label">Side Angle Photo (Right)</label>
          <input id="RightImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('RightImage_File', 'RightImage')" />
          <input asp-for="RightImage" type="hidden" class="form-control" />
          <span asp-validation-for="RightImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="BackImage" class="control-label">Rear Angle Photo (Back)</label>
          <input id="BackImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('BackImage_File', 'BackImage')" />
          <input asp-for="BackImage" type="hidden" class="form-control" />
          <span asp-validation-for="BackImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AdditionalImage" class="control-label">Additional Image of Pedigree</label>
          <input id="AdditionalImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('AdditionalImage_File', 'AdditionalImage')" />
          <input asp-for="AdditionalImage" type="hidden" class="form-control" />
          <span asp-validation-for="AdditionalImage" class="text-danger"></span>
        </div>

        <script>
          var ConvertFiletoBase64 = function (fileEl, baseEl) {
            debugger;
            var fileInput = document.getElementById(fileEl);

            var reader = new FileReader();
            reader.readAsDataURL(fileInput.files[0]);

            reader.onload = function () {
              $("#" + baseEl).val(reader.result);
            };
            reader.onerror = function (error) {
              console.log('Error: ', error);
            };
          };
        </script>

        <div class="form-group">
          <label asp-for="Address" class="control-label"></label>
          <textarea asp-for="Address" class="form-control"></textarea>
          <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AddressPostal" class="control-label">Postal Address (Optional)</label>
          <textarea asp-for="AddressPostal" class="form-control"></textarea>
          <span asp-validation-for="AddressPostal" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="PostalCode" class="control-label"></label>
          <input asp-for="PostalCode" class="form-control" />
          <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Country" class="control-label"></label>
          <select asp-for="Country" id="CountryList" class="form-control"></select>
          <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <h5>Owner Details</h5>
        <hr />
        <div class="form-group">
          <label class="control-label">Owner Name</label>
          <input asp-for="Owner.OwnerName" class="form-control" />
          <span asp-validation-for="Owner.OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Surname</label>
          <input asp-for="Owner.OwnerSurname" class="form-control" />
          <span asp-validation-for="Owner.OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Email Address</label>
          <input asp-for="Owner.EmailAddress" class="form-control" />
          <span asp-validation-for="Owner.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Address</label>
          <textarea asp-for="Owner.OwnerAddress" class="form-control"></textarea>
          <span asp-validation-for="Owner.OwnerAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Cell Number</label>
          <input asp-for="Owner.CellNumber" class="form-control" />
          <span asp-validation-for="Owner.CellNumber" class="text-danger"></span>
        </div>

        <hr />

        <h5>Co Owner Details</h5>
        <hr />
        <div class="form-group">
          <label class="control-label">Co Owner Name</label>
          <input asp-for="CoOwner.OwnerName" class="form-control" />
          <span asp-validation-for="CoOwner.OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Surname</label>
          <input asp-for="CoOwner.OwnerSurname" class="form-control" />
          <span asp-validation-for="CoOwner.OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Email Address</label>
          <input asp-for="CoOwner.EmailAddress" class="form-control" />
          <span asp-validation-for="CoOwner.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Address</label>
          <textarea asp-for="CoOwner.OwnerAddress" class="form-control"></textarea>
          <span asp-validation-for="CoOwner.OwnerAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Cell Number</label>
          <input asp-for="CoOwner.CellNumber" class="form-control" />
          <span asp-validation-for="CoOwner.CellNumber" class="text-danger"></span>
        </div>

        <hr />

        <div class="form-group">
          <label asp-for="BreederId" class="control-label">Breeder</label>
          @Html.DropDownListFor(x => x.BreederId, new SelectList(Breeders, "Key", "Value", Model.BreederId))
          <span asp-validation-for="BreederId" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="SireID" class="control-label">Sire</label>
          @Html.DropDownListFor(x => x.SireID, new SelectList(Sires, "Key", "Value", Model.SireID))
          <span asp-validation-for="SireID" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="DamID" class="control-label">Dam</label>
          @Html.DropDownListFor(x => x.DamID, new SelectList(Dams, "Key", "Value", Model.DamID))
          <span asp-validation-for="DamID" class="text-danger"></span>
        </div>
      }
      else
      {
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
          <label asp-for="FrontImage" class="control-label">Front Angle Photo</label>
          <input id="FrontImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('FrontImage_File', 'FrontImage')" />
          <input asp-for="FrontImage" type="hidden" class="form-control" />
          <span asp-validation-for="FrontImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="LeftImage" class="control-label">Side Angle Photo (Left)</label>
          <input id="LeftImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('LeftImage_File', 'LeftImage')" />
          <input asp-for="LeftImage" type="hidden" class="form-control" />
          <span asp-validation-for="LeftImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="RightImage" class="control-label">Side Angle Photo (Right)</label>
          <input id="RightImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('RightImage_File', 'RightImage')" />
          <input asp-for="RightImage" type="hidden" class="form-control" />
          <span asp-validation-for="RightImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="BackImage" class="control-label">Rear Angle Photo (Back)</label>
          <input id="BackImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('BackImage_File', 'BackImage')" />
          <input asp-for="BackImage" type="hidden" class="form-control" />
          <span asp-validation-for="BackImage" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AdditionalImage" class="control-label">Additional Image of Pedigree</label>
          <input id="AdditionalImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('AdditionalImage_File', 'AdditionalImage')" />
          <input asp-for="AdditionalImage" type="hidden" class="form-control" />
          <span asp-validation-for="AdditionalImage" class="text-danger"></span>
        </div>

        <script>
          var ConvertFiletoBase64 = function (fileEl, baseEl) {
            debugger;
            var fileInput = document.getElementById(fileEl);

            var reader = new FileReader();
            reader.readAsDataURL(fileInput.files[0]);

            reader.onload = function () {
              $("#" + baseEl).val(reader.result);
            };
            reader.onerror = function (error) {
              console.log('Error: ', error);
            };
          };
        </script>

        <div class="form-group">
          <label asp-for="Address" class="control-label"></label>
          <textarea asp-for="Address" class="form-control"></textarea>
          <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="AddressPostal" class="control-label">Postal Address (Optional)</label>
          <textarea asp-for="AddressPostal" class="form-control"></textarea>
          <span asp-validation-for="AddressPostal" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="PostalCode" class="control-label"></label>
          <input asp-for="PostalCode" class="form-control" />
          <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label asp-for="Country" class="control-label"></label>
          <select asp-for="Country" id="CountryList" class="form-control"></select>
          <span asp-validation-for="Country" class="text-danger"></span>
        </div>

        <h5>Owner Details</h5>
        <hr />
        <div class="form-group">
          <label class="control-label">Owner Name</label>
          <input asp-for="Owner.OwnerName" class="form-control" />
          <span asp-validation-for="Owner.OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Surname</label>
          <input asp-for="Owner.OwnerSurname" class="form-control" />
          <span asp-validation-for="Owner.OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Address</label>
          <textarea asp-for="Owner.OwnerAddress" class="form-control"></textarea>
          <span asp-validation-for="Owner.OwnerAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Owner Cell Number</label>
          <input asp-for="Owner.CellNumber" class="form-control" />
          <span asp-validation-for="Owner.CellNumber" class="text-danger"></span>
        </div>

        <hr />

        <h5>Co Owner Details</h5>
        <hr />
        <div class="form-group">
          <label class="control-label">Co Owner Name</label>
          <input asp-for="CoOwner.OwnerName" class="form-control" />
          <span asp-validation-for="CoOwner.OwnerName" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Surname</label>
          <input asp-for="CoOwner.OwnerSurname" class="form-control" />
          <span asp-validation-for="CoOwner.OwnerSurname" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Email Address</label>
          <input asp-for="CoOwner.EmailAddress" class="form-control" />
          <span asp-validation-for="CoOwner.EmailAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Address</label>
          <textarea asp-for="CoOwner.OwnerAddress" class="form-control"></textarea>
          <span asp-validation-for="CoOwner.OwnerAddress" class="text-danger"></span>
        </div>
        <div class="form-group">
          <label class="control-label">Co Owner Cell Number</label>
          <input asp-for="CoOwner.CellNumber" class="form-control" />
          <span asp-validation-for="CoOwner.CellNumber" class="text-danger"></span>
        </div>
      }

      @if (Model.PedigreeFieldsValues != null)
      {
        @for (int j = 0; j < Model.PedigreeFieldsValues.Count; j++)
        {
          <div class="form-group">
            <label class="control-label">@Model.PedigreeFieldsValues[j].PedigreeFields.FieldName</label>
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "document")
            {
              <input id="@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")" type="file" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              <input id="@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")" type="hidden" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValueAlpha" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
              <script>
                $("#@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")").on("change", () => {
                  var fileInput = document.getElementById('@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")');

                  var reader = new FileReader();
                  reader.readAsDataURL(fileInput.files[0]);

                  reader.onload = function () {
                    $("#@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")").val(reader.result);
                  };
                  reader.onerror = function (error) {
                    console.log('Error: ', error);
                  };
                });
              </script>
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "textarea")
            {
              <textarea data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control"></textarea>
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "checkbox")
            {
              <input type="checkbox" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "datetime")
            {
              <input type="datetime" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "input")
            {
              <input type="text" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
          </div>
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldsID)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldValueID)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].Required)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldsID)
        }
      }
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary p-1" />
        <a class="btn btn-secondary p-1" asp-action="Index">Cancel</a>
      </div>
    </form>
  </div>
</div>