﻿@model List<DatabaseConnector.Tables.Pedigrees.PedigreeMain>
@{
  ViewData["Title"] = "Pedigrees";

  DatabaseConnector.Tables.Users.UserMain userMain = (DatabaseConnector.Tables.Users.UserMain)ViewData["User"];
}
<style>
  #searchPedigree {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

  #searchPedigreeTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }

    #searchPedigreeTable th, #searchPedigreeTable td {
      text-align: left;
      padding: 12px;
    }

    #searchPedigreeTable tr {
      border-bottom: 1px solid #ddd;
    }

      #searchPedigreeTable tr.header, #searchPedigreeTable tr:hover {
        background-color: #f1f1f1;
      }
</style>
<span class="vb-error">@ViewData["Error"]</span>
@if (userMain.isDeveloper || userMain.isAdmin || userMain.isKennel || userMain.isBreeder)
{
  <div class="m-2">
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
  </div>
}
<div>
  @if (Model.Count < 1)
  {
    @(await Html.PartialAsync("Empty", "Pedigrees"))
  }
  else
  {
    <input type="text" id="searchPedigree" onkeyup="SearchPedigree()" placeholder="Filter Pedigrees..">
    <table id="searchPedigreeTable" class="table">
      <thead>
        <tr>
          <th>
            Bully Assure ID
          </th>
          <th class="tableHidePhone">
            ABFSA#
          </th>
          <th>
            Pedigree Name
          </th>
          <th class="tableHidePhone">
            Chip No
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
          <tr onclick="FocusPedigree('@(Model[i].PedigreeID)', false)" style="cursor: pointer">
            <td>
              @if (Model[i].IsDeleted)
              {
                <span class="importantInformation">REMOVED</span>
              }
              else if (Model[i].Flagged)
              {
                <span class="importantInformation">FLAGGED</span>
              }
              BA\@(Model[i].BAID.ToString().PadLeft(7, '0'))
            </td>
            <td class="tableHidePhone">
              @Html.DisplayFor(model => Model[i].RegID)
            </td>
            <td>
              @Html.DisplayFor(model => Model[i].Name)
            </td>
            <td class="tableHidePhone">
              @Html.DisplayFor(model => Model[i].ChipNo)
            </td>
            <td>
              <div class="m-2">
                <a class="btn btn-primary p-1" href="#" onclick="FocusChange('@(Model[i].PedigreeID)_change', false)" style="color: white;">Change Owner</a>
              </div>
            </td>

            <div id="popup_@(Model[i].PedigreeID)_change" class="popup_background" style="display: none;">
              <div class="popover popup_custom">
                @if (!userMain.isOwner)
                {
                  <form asp-action="SellPedigree">
                    <div class="form-group" hidden>
                      <input name="PedigreeId" value="@Model[i].PedigreeID" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Owner Email Address:</label>
                      <input name="EmailAddress" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-primary p-1" value="Submit" />
                    <a class="btn btn-secondary p-1" href="#" onclick="FocusChange('@(Model[i].PedigreeID)_change', true)" style="color: white;">Cancel</a>
                  </form>
                }
                else
                {
                  <form asp-action="ChangeOwnership">
                    <div class="form-group" hidden>
                      <input name="PedigreeId" value="@Model[i].PedigreeID" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label class="control-label">Owner Email Address:</label>
                      <input name="EmailAddress" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-primary p-1" value="Submit" />
                    <a class="btn btn-secondary p-1" href="#" onclick="FocusChange('@(Model[i].PedigreeID)_change', true)" style="color: white;">Cancel</a>
                  </form>
                }
              </div>
            </div>
            <div id="popup_@(Model[i].PedigreeID)" class="popup_background" style="display: none;">
              <div class="popover popup_custom">
                @if (Model[i].Flagged)
                {
                  <div class="m-2" style="color:red; text-transform: capitalize;">
                    @("PLEASE NOTE THAT THIS PEDIGREE HAS BEEN FLAGGED")
                  </div>
                }
                <div class="m-2">
                  @(Model[i].PedigreeApplication?.Closed ?? true ? "" : "Application Still Open!")
                </div>
                <h4>@Html.DisplayFor(model => model[i].Name)</h4>
                <hr />
                <dl class="row">
                  <dt class="col-sm-2">
                    Bully Assure ID
                  </dt>
                  <dd class="col-sm-10">
                    BA\@(Model[i].BAID.ToString().PadLeft(7, '0'))
                  </dd>
                  <dt class="col-sm-2">
                    ABFSA#
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].RegID)
                  </dd>
                  <dt class="col-sm-2">
                    Pedigree Name
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Name)
                  </dd>
                  <dt class="col-sm-2">
                    Pedigree Breed
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Breed)
                  </dd>
                  <dt class="col-sm-2">
                    Pedigree Sex
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].Sex == "M" ? "Sire" : "Dam")
                  </dd>
                  <dt class="col-sm-2">
                    Pedigree Description
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Description)
                  </dd>
                  <dt class="col-sm-2">
                    Date of Birth
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].DOB)
                  </dd>
                  <dt class="col-sm-2">
                    Date of Issued
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].DOI)
                  </dd>
                  <dt class="col-sm-2">
                    Chip No
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].ChipNo)
                  </dd>

                  <dt class="col-sm-2">
                    Front Angle Photo
                  </dt>
                  <dd class="col-sm-10">
                    @if (String.IsNullOrEmpty(@Model[i].FrontImage))
                    {
                      @("Not Specified");
                    }
                    else
                    {
                      <a href="#" onclick="DownloadDocument('@(Model[i].Name)_Front Angle Photo.jpg', '@Model[i].FrontImage')">Front Angle Photo</a>
                    }
                  </dd>
                  <dt class="col-sm-2">
                    Side Angle Photo (Left)
                  </dt>
                  <dd class="col-sm-10">
                    @if (String.IsNullOrEmpty(@Model[i].LeftImage))
                    {
                      @("Not Specified");
                    }
                    else
                    {
                      <a href="#" onclick="DownloadDocument('@(Model[i].Name)_Side Angle Photo (Left).jpg', '@Model[i].LeftImage')">Side Angle Photo (Left)</a>
                    }
                  </dd>
                  <dt class="col-sm-2">
                    Side Angle Photo (Right)
                  </dt>
                  <dd class="col-sm-10">
                    @if (String.IsNullOrEmpty(@Model[i].RightImage))
                    {
                      @("Not Specified");
                    }
                    else
                    {
                      <a href="#" onclick="DownloadDocument('@(Model[i].Name)_Side Angle Photo (Right).jpg', '@Model[i].RightImage')">Side Angle Photo (Right)</a>
                    }
                  </dd>
                  <dt class="col-sm-2">
                    Rear Angle Photo (Back)
                  </dt>
                  <dd class="col-sm-10">
                    @if (String.IsNullOrEmpty(@Model[i].BackImage))
                    {
                      @("Not Specified");
                    }
                    else
                    {
                      <a href="#" onclick="DownloadDocument('@(Model[i].Name)_Rear Angle Photo (Back).jpg', '@Model[i].BackImage')">Rear Angle Photo (Back)</a>
                    }
                  </dd>
                  <dt class="col-sm-2">
                    Additional Image of Pedigree
                  </dt>
                  <dd class="col-sm-10">
                    @if (String.IsNullOrEmpty(@Model[i].AdditionalImage))
                    {
                      @("Not Specified");
                    }
                    else
                    {
                      <a href="#" onclick="DownloadDocument('@(Model[i].Name)_Additional Image of Pedigree.jpg', '@Model[i].AdditionalImage')">Additional Image of Pedigree</a>
                    }
                  </dd>

                  <dt class="col-sm-2">
                    Address
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Address)
                  </dd>
                  <dt class="col-sm-2">
                    Postal Address (Optional)
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].AddressPostal)
                  </dd>
                  <dt class="col-sm-2">
                    Postal Code
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].PostalCode)
                  </dd>
                  <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => Model[i].Country)
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Country)
                  </dd>
                  <dt class="col-sm-2">
                    Owner
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].Owner?.OwnerName ?? "Not Specified" + " " + Model[i].Owner?.OwnerSurname ?? "Not Specified")
                  </dd>
                  <dt class="col-sm-2">
                    Co-Owner
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].CoOwner?.OwnerName ?? "Not Specified" + " " + Model[i].CoOwner?.OwnerSurname ?? "Not Specified")
                  </dd>
                  <dt class="col-sm-2">
                    Breeder
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].Breeder?.BreederFirstName ?? "Not Specified" + " " + Model[i].Breeder?.BreederSurname ?? "Not Specified")
                  </dd>
                  <dt class="col-sm-2">
                    Sire
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].Sire == null ? "Not Specified" : Model[i].Sire.Name)
                  </dd>
                  <dt class="col-sm-2">
                    Dam
                  </dt>
                  <dd class="col-sm-10">
                    @(Model[i].Dam == null ? "Not Specified" : Model[i].Dam.Name)
                  </dd>
                  <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => Model[i].Flagged)
                  </dt>
                  <dd class="col-sm-10">
                    @Html.DisplayFor(model => Model[i].Flagged)
                  </dd>
                  @if (Model[i].PedigreeFieldsValues != null)
                  {
                    @for (int j = 0; j < Model[i].PedigreeFieldsValues.Count; j++)
                    {
                      @if (Model[i].PedigreeFieldsValues[j].PedigreeFields.FieldType != null)
                      {

                        @if (Model[i].PedigreeFieldsValues[j].PedigreeFields.FieldType?.FieldTypeName?.ToLower() == "document")
                        {
                          <dt class="col-sm-2">
                            @Html.DisplayFor(model => model[i].PedigreeFieldsValues[j].PedigreeFields.FieldName)
                          </dt>
                          <dd class="col-sm-10">
                            <a href="#" onclick="DownloadDocument('@Model[i].PedigreeFieldsValues[j].FieldValue', '@Model[i].PedigreeFieldsValues[j].FieldValueAlpha')">@Model[i].PedigreeFieldsValues[j].FieldValue</a>
                          </dd>
                        }
                        else if (Model[i].PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "checkbox")
                        {
                          <dt class="col-sm-2">
                            @Html.DisplayFor(model => model[i].PedigreeFieldsValues[j].PedigreeFields.FieldName)
                          </dt>
                          <dd class="col-sm-10">
                            @(Model[i].PedigreeFieldsValues[j].FieldValue == "true" ? "Yes" : "No")
                          </dd>
                        }
                        else
                        {
                          <dt class="col-sm-2">
                            @Html.DisplayFor(model => model[i].PedigreeFieldsValues[j].PedigreeFields.FieldName)
                          </dt>
                          <dd class="col-sm-10">
                            @Html.DisplayFor(model => model[i].PedigreeFieldsValues[j].FieldValue)
                          </dd>
                        }
                      }
                    }
                  }
                  <dd>
                    <div class="m-2">
                      <a class="btn btn-primary p-1" href="#" onclick="FocusPedigree('@(Model[i].PedigreeID)', true)" style="color: white;">Close</a>
                      @Html.ActionLink("Edit", "Edit", new { PedigreeID = Model[i].PedigreeID }, new { @class = "btn btn-primary p-1", @style = "color: white;" })
                      @Html.ActionLink("Delete", "Delete", new { PedigreeID = Model[i].PedigreeID }, new { @class = "btn btn-secondary p-1", @style = "color: white;" })
                    </div>
                  </dd>
                </dl>
              </div>
            </div>
          </tr>
        }
      </tbody>
    </table>
  }

  <style>
    .importantInformation {
      padding: 4px;
      border-radius: 5px;
      background-color: red;
      color: white;
    }
  </style>

  <script>
    var DownloadDocument = (filename, contentBase64) => {
      if (window.confirm("Do you want to download file: " + filename + "?")) {

        const linkSource = `data:${mime.getType(filename)};base64,${contentBase64}`;
        const downloadLink = document.createElement("a");
        const fileName = filename;

        downloadLink.href = linkSource;
        downloadLink.download = fileName;
        downloadLink.click();
      }
    }

    var FocusPedigree = function (pedigreeID, visible) {
      $(".popup_custom").scrollTop(0)
      $("#popup_" + pedigreeID).css("display", (visible ? "none" : "block"));
    };

    var FocusChange = function (change, visible) {
      $(".popup_custom").scrollTop(0)
      $("#popup_" + change).css("display", (visible ? "none" : "block"));
    };

    function SearchPedigree() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchPedigree");
      filter = input.value.toUpperCase();
      table = document.getElementById("searchPedigreeTable");
      tr = table.getElementsByTagName("tr");

      for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td");
        if (td) {
          var found = false;
          for (var j = 0; j < td.length; j++) {
            txtValue = td[j].textContent || td[j].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              found = true;
            }
          }
          if (!found) tr[i].style.display = "none";
        }
      }
    }
  </script>
</div>