﻿@model DatabaseConnector.Tables.Pedigrees.PedigreeMain

<h4>Register Pedigree</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="StartApplication">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      @Html.HiddenFor(model => Model.PedigreeID)
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div>
        <div class="form-group">
          <label class="control-label">Bully Assure Litter Id (Provided from Kennel/Breeder - numbers only)</label>
          <input asp-for="BAID" class="form-control" />
          <span asp-validation-for="BAID" class="text-danger">Bully Assure Pedigree Id is mandatory</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Pedigree Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      @if (String.IsNullOrEmpty(Model.Description))
      {
        <div class="form-group">
          <label asp-for="Description" class="control-label"></label>
          <input asp-for="Description" class="form-control" />
          <span asp-validation-for="Description" class="text-danger"></span>
        </div>
      }

      <div class="form-group">
        <label asp-for="FrontImage" class="control-label">Front Angle Photo</label>
        <input id="FrontImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('FrontImage_File', 'FrontImage')" />
        <input asp-for="FrontImage" type="hidden" class="form-control" />
        <span asp-validation-for="FrontImage" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="LeftImage" class="control-label">Side Angle Photo (Left)</label>
        <input id="LeftImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('LeftImage_File', 'LeftImage')" />
        <input asp-for="LeftImage" type="hidden" class="form-control" />
        <span asp-validation-for="LeftImage" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="RightImage" class="control-label">Side Angle Photo (Right)</label>
        <input id="RightImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('RightImage_File', 'RightImage')" />
        <input asp-for="RightImage" type="hidden" class="form-control" />
        <span asp-validation-for="RightImage" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="BackImage" class="control-label">Rear Angle Photo (Back)</label>
        <input id="BackImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('BackImage_File', 'BackImage')" />
        <input asp-for="BackImage" type="hidden" class="form-control" />
        <span asp-validation-for="BackImage" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AdditionalImage" class="control-label">Additional Image of Pedigree</label>
        <input id="AdditionalImage_File" type="file" class="form-control" onchange="ConvertFiletoBase64('AdditionalImage_File', 'AdditionalImage')" />
        <input asp-for="AdditionalImage" type="hidden" class="form-control" />
        <span asp-validation-for="AdditionalImage" class="text-danger"></span>
      </div>

      <script>
        var ConvertFiletoBase64 = function (fileEl, baseEl) {
          debugger;
          var fileInput = document.getElementById(fileEl);

          var reader = new FileReader();
          reader.readAsDataURL(fileInput.files[0]);

          reader.onload = function () {
            $("#" + baseEl).val(reader.result);
          };
          reader.onerror = function (error) {
            console.log('Error: ', error);
          };
        };
      </script>

      <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <textarea asp-for="Address" class="form-control"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="AddressPostal" class="control-label">Postal Address (Optional)</label>
        <textarea asp-for="AddressPostal" class="form-control"></textarea>
        <span asp-validation-for="AddressPostal" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="PostalCode" class="control-label"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        <select asp-for="Country" id="CountryList" class="form-control"></select>
        <span asp-validation-for="Country" class="text-danger"></span>
      </div>

      <h5>Owner Details</h5>
      <hr />
      <div class="form-group">
        <label class="control-label">Owner Name</label>
        <input asp-for="Owner.OwnerName" class="form-control" />
        <span asp-validation-for="Owner.OwnerName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Owner Surname</label>
        <input asp-for="Owner.OwnerSurname" class="form-control" />
        <span asp-validation-for="Owner.OwnerSurname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Owner Email Address</label>
        <input asp-for="Owner.EmailAddress" class="form-control" />
        <span asp-validation-for="Owner.EmailAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Owner Address</label>
        <textarea asp-for="Owner.OwnerAddress" class="form-control"></textarea>
        <span asp-validation-for="Owner.OwnerAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Owner Cell Number</label>
        <input asp-for="Owner.CellNumber" class="form-control" />
        <span asp-validation-for="Owner.CellNumber" class="text-danger"></span>
      </div>

      <hr />

      <h5>Co Owner Details (Optional)</h5>
      <hr />
      <div class="form-group">
        <label class="control-label">Co Owner Name</label>
        <input asp-for="CoOwner.OwnerName" class="form-control" />
        <span asp-validation-for="CoOwner.OwnerName" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Co Owner Surname</label>
        <input asp-for="CoOwner.OwnerSurname" class="form-control" />
        <span asp-validation-for="CoOwner.OwnerSurname" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Co Owner Email Address</label>
        <input asp-for="CoOwner.EmailAddress" class="form-control" />
        <span asp-validation-for="CoOwner.EmailAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Co Owner Address</label>
        <textarea asp-for="CoOwner.OwnerAddress" class="form-control"></textarea>
        <span asp-validation-for="CoOwner.OwnerAddress" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label class="control-label">Co Owner Cell Number</label>
        <input asp-for="CoOwner.CellNumber" class="form-control" />
        <span asp-validation-for="CoOwner.CellNumber" class="text-danger"></span>
      </div>

      @if (Model.PedigreeFieldsValues != null)
      {
        @for (int j = 0; j < Model.PedigreeFieldsValues.Count; j++)
        {
          <div class="form-group">
            <label class="control-label">@Model.PedigreeFieldsValues[j].PedigreeFields.FieldName</label>
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "document")
            {
              <input id="@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")" type="file" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              <input id="@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")" type="hidden" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValueAlpha" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
              <script>
                $("#@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")").on("change", () => {
                  var fileInput = document.getElementById('@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment")');

                  var reader = new FileReader();
                  reader.readAsDataURL(fileInput.files[0]);

                  reader.onload = function () {
                    $("#@(Model.PedigreeFieldsValues[j].PedigreeFields.FieldName.Replace(" ", "_") + "_attachment_Alpha")").val(reader.result);
                  };
                  reader.onerror = function (error) {
                    console.log('Error: ', error);
                  };
                });
              </script>
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "textarea")
            {
              <textarea data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control"></textarea>
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "checkbox")
            {
              <input type="checkbox" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "datetime")
            {
              <input type="datetime" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
            @if (Model.PedigreeFieldsValues[j].PedigreeFields.FieldType.FieldTypeName.ToLower() == "input")
            {
              <input type="text" data-val="@Model.PedigreeFieldsValues[j].Required" data-val-required="*This field is required." asp-for="@Model.PedigreeFieldsValues[j].FieldValue" class="form-control" />
              @if (Model.PedigreeFieldsValues[j].Required)
              {
                <span asp-validation-for="@Model.PedigreeFieldsValues[j].FieldValue" class="text-danger">This field is required</span>
              }
            }
          </div>
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldsID)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldValueID)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].Required)
          @Html.HiddenFor(m => m.PedigreeFieldsValues[j].PedigreeFieldsID)
        }
      }
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary p-1" />
      </div>
    </form>
  </div>
</div>