﻿@model DatabaseConnector.Tables.Pedigrees.PedigreeMain
@{
  Layout = "";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
@if (Model.OwnerId == null)
{
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4" style="border-radius: 15px; border: 1px solid black;">
            <div class="row">
              <div class="col-md-4">
                LITTER #:
              </div>
              <div class="col-md-8">
                @(Model.BAID.ToString().PadLeft(4, '0'))/@(DateTime.Today.ToString("yyyy/MM/dd"))
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-center">
          APPLICATION FOR PERMANENT REGISTRATION
        </h3>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                BREED:
              </div>
              <div class="col-md-9">
                @(Model.Breed)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SIRE IS:
              </div>
              <div class="col-md-9">
                @(Model.Sire?.Name ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SIRE'S BAID:
              </div>
              <div class="col-md-9">
                @(Model.Sire?.BAID.ToString() ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                DAM IS:
              </div>
              <div class="col-md-9">
                @(Model.Dam?.Name ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                DAM'S BAID:
              </div>
              <div class="col-md-9">
                @(Model.Dam?.BAID.ToString() ?? "N/A")
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                PUPPY BAID:
              </div>
              <div class="col-md-9">
                @(Model.BAID)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                BIRTHDATE:
              </div>
              <div class="col-md-9">
                @(Convert.ToDateTime(Model.DOB).ToString("dd/MM/yyyy"))
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SEX:
              </div>
              <div class="col-md-9">
                @(Model.Sex == "M" ? "MALE" : "FEMALE")
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}
else
{
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4" style="border-radius: 15px; border: 1px solid black;">
            <div class="row">
              <div class="col-md-4">
                LITTER #:
              </div>
              <div class="col-md-8">
                @(Model.BAID.ToString().PadLeft(4, '0'))/@(DateTime.Today.ToString("yyyy/MM/dd"))
              </div>
            </div>
          </div>
        </div>
        <h3 class="text-center">
          APPLICATION FOR PERMANENT REGISTRATION
        </h3>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                BREED:
              </div>
              <div class="col-md-9">
                @(Model.Breed)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SIRE IS:
              </div>
              <div class="col-md-9">
                @(Model.Sire?.Name ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SIRE'S BAID:
              </div>
              <div class="col-md-9">
                @(Model.Sire?.BAID.ToString() ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                DAM IS:
              </div>
              <div class="col-md-9">
                @(Model.Dam?.Name ?? "N/A")
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                DAM'S BAID:
              </div>
              <div class="col-md-9">
                @(Model.Dam?.BAID.ToString() ?? "N/A")
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-3">
                PUPPY BAID:
              </div>
              <div class="col-md-9">
                @(Model.BAID)
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                BIRTHDATE:
              </div>
              <div class="col-md-9">
                @(Convert.ToDateTime(Model.DOB).ToString("dd/MM/yyyy"))
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                SEX:
              </div>
              <div class="col-md-9">
                @(Model.Sex == "M" ? "MALE" : "FEMALE")
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}