@{
  ViewData["Title"] = "Dashboard";
}

<div class="center-block text-center">
  <div class="md-centered">
    <h4 class="vb-name">Welcome!</h4>
    <span class="vb-description">@ViewData["FirstName"].ToString() @ViewData["LastName"].ToString()</span>
  </div>
</div>

<style>
  .vb-name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    padding: 8px;
  }

  .vb-description {
    padding: 4px;
    font-size: 20px;
  }
</style>

@*@await Component.InvokeAsync("Cards")*@