﻿@model IEnumerable<DatabaseConnector.Tables.Audits.ApplicationLogging>

<a class="btn btn-primary p-1" href="/Settings/ResendAllMails" style="color: white;">Resend All Emails</a>
<table class="table">
  <thead>
    <tr>
      <th>
        Log ID
      </th>
      <th>
        User ID
      </th>
      <th>
        Error Message
      </th>
      <th>
        To Path
      </th>
      <th>
        Query String
      </th>
      <th>
        Capture Date
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.LoggingID)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.ErrorMessage)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Topath)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.QueryString)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.CaptureDate)
        </td>
      </tr>
    }
  </tbody>
</table>