﻿@model List<DatabaseConnector.Tables.Fields.FieldType>
@if (Model != null)
{
  if (Model.Count > 0)
  {
    <select name="FieldTypeID">
      @foreach (var item in Model)
      {
        <option value="@item.FieldID">@item.FieldTypeName</option>
      }
    </select>
  }
}